@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?vleaay');
  src:  url('icomoon.eot?vleaay#iefix') format('embedded-opentype'),
    url('icomoon.ttf?vleaay') format('truetype'),
    url('icomoon.woff?vleaay') format('woff'),
    url('icomoon.svg?vleaay#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_how_03:before {
  content: "\e945";
  color: #fff;
}
.icon-icon_how_02:before {
  content: "\e946";
  color: #fff;
}
.icon-icon_how_01:before {
  content: "\e947";
  color: #fff;
}
.icon-icon_baknot:before {
  content: "\e942";
}
.icon-address:before {
  content: "\e91b";
}
.icon-phone:before {
  content: "\e91c";
}
.icon-eye:before {
  content: "\e919";
}
.icon-manage:before {
  content: "\e91a";
  color: #0056ff;
}
.icon-payment:before {
  content: "\e92c";
}
.icon-star-black:before {
  content: "\e92d";
}
.icon-delete:before {
  content: "\e92e";
}
.icon-edit:before {
  content: "\e92f";
}
.icon-ok:before {
  content: "\e934";
}
.icon-acc:before {
  content: "\e92b";
}
.icon-quote:before {
  content: "\e918";
  color: #0056ff;
}
.icon-callendar:before {
  content: "\e922";
}
.icon-msg:before {
  content: "\e923";
  color: #0056ff;
}
.icon-readmore:before {
  content: "\e92a";
  color: #0056ff;
}
.icon-icon-info:before {
  content: "\e916";
  color: #9e9e9e;
}
.icon-pin:before {
  content: "\e917";
  color: #9e9e9e;
}
.icon-arrow-left:before {
  content: "\e914";
}
.icon-arrow-right:before {
  content: "\e915";
}
.icon-facebook:before {
  content: "\e913";
  color: #fff;
}
.icon-check:before {
  content: "\e912";
  color: #fff;
}
.icon-icon_termin:before {
  content: "\e911";
  color: #fff;
}
.icon-alarm-bell:before {
  content: "\e900";
  color: #9e9e9e;
}
.icon-alarm-comments:before {
  content: "\e901";
  color: #9e9e9e;
}
.icon-arrow_down:before {
  content: "\e902";
}
.icon-arrow_grey:before {
  content: "\e903";
  color: #9e9e9e;
}
.icon-camera:before {
  content: "\e904";
  color: #0057ff;
}
.icon-icon_scroll:before {
  content: "\e905";
  color: #9e9e9e;
}
.icon-icona_skill:before {
  content: "\e906";
  color: #fff;
}
.icon-icon-fb:before {
  content: "\e907";
  color: #fff;
}
.icon-icon-in:before {
  content: "\e908";
  color: #fff;
}
.icon-icon-insta:before {
  content: "\e909";
  color: #fff;
}
.icon-icon-kurs:before {
  content: "\e90a";
  color: #fff;
}
.icon-location:before {
  content: "\e90b";
}
.icon-lupa-icon:before {
  content: "\e90c";
  color: #fff;
}
.icon-photo:before {
  content: "\e90d";
  color: #0057ff;
}
.icon-screen:before {
  content: "\e90e";
  color: #0057ff;
}
.icon-star:before {
  content: "\e90f";
  color: #ec1d57;
}
.icon-wallet:before {
  content: "\e910";
  color: #fff;
}
.icon-check_2_2:before {
  content: "\e940";
}
.icon-check_2 .path1:before {
  content: "\e941";
  color: rgb(255, 255, 255);
}
.icon-check_2 .path2:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(236, 29, 87);
}
.icon-check_2 .path3:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(236, 29, 87);
}
.icon-arrow_grey_2:before {
  content: "\e93e";
  color: #9e9e9e;
}
.icon-icon-info1:before {
  content: "\e93f";
  color: #9e9e9e;
}
.icon-pin1:before {
  content: "\e93b";
  color: #9e9e9e;
}
.icon-arrow-left1:before {
  content: "\e93c";
}
.icon-arrow-right1:before {
  content: "\e93d";
}
.icon-facebook1:before {
  content: "\e93a";
  color: #fff;
}
.icon-icon-plus:before {
  content: "\e938";
}
.icon-check1:before {
  content: "\e939";
  color: #fff;
}
.icon-icon_termin1:before {
  content: "\e937";
  color: #fff;
}
.icon-alarm-bell1:before {
  content: "\e91d";
  color: #9e9e9e;
}
.icon-alarm-comments1:before {
  content: "\e932";
  color: #9e9e9e;
}
.icon-arrow_down1:before {
  content: "\e933";
}
.icon-arrow_grey1:before {
  content: "\e935";
  color: #9e9e9e;
}
.icon-camera1:before {
  content: "\e936";
  color: #0057ff;
}
.icon-icon_scroll1:before {
  content: "\e928";
  color: #9e9e9e;
}
.icon-icona_skill1:before {
  content: "\e929";
  color: #fff;
}
.icon-icon-fb1:before {
  content: "\e930";
  color: #fff;
}
.icon-icon-in1:before {
  content: "\e931";
  color: #fff;
}
.icon-icon-insta1:before {
  content: "\e927";
  color: #fff;
}
.icon-icon-kurs1:before {
  content: "\e926";
  color: #fff;
}
.icon-location1:before {
  content: "\e925";
}
.icon-lupa-icon1:before {
  content: "\e924";
  color: #fff;
}
.icon-photo1:before {
  content: "\e921";
  color: #0057ff;
}
.icon-screen1:before {
  content: "\e920";
  color: #0057ff;
}
.icon-star1:before {
  content: "\e91f";
  color: #ec1d57;
}
.icon-wallet1:before {
  content: "\e91e";
  color: #fff;
}
