.icon-msg:before {
  font-size: 32px;
  color: inherit;
}

.icon-pin:before {
  color: inherit;
}

.icon-readmore:before{
  color: inherit;
}

.icon-manage{
  font-size: 22px;
}

.icon-edit{
  font-size: 23px;
}

.icon-delete{
  font-size: 20px;
}

.icon-ok{
  font-size: 20px;
}

.icon-acc{
  font-size: 17px;
}

.icon-payment{
  font-size: 22px;
}

.icon-star-black{
  font-size: 21px;
}

.icon-address{
  font-size: 28px;
}