//breakpoint 0
@include media-breakpoint-up(xs) {

}

//sm
@include media-breakpoint-up(sm) {

}

//md
@include media-breakpoint-up(md) {

}

//lg
@include media-breakpoint-up(lg) {

}

//xl
@include media-breakpoint-up(xl) {

}