//breakpoint 0
@include media-breakpoint-up(xs) {
    
    .profile__head__success {
        display: none;
    }
    
    .profile__add-opinion {
        .profil__actions {
            display: none;
        }
        .profile__head {
            
            .profile__ranking {
            
                .num-box {
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    font-size: 18px;
                    margin-right: 14px;
                }
                
                .content-box {
                    padding-top: 0;
                }
            }
        }
    }
    
    .profile__add-opinion .profile__head .profile__ranking {
        padding-bottom: 0;
    }
    
    .add_opinion {
        
        .part {
            margin-bottom: 25px;
            
            .header {
                font-size: 16px;
                margin-bottom: 12px;
            }
            
            .rank {
                overflow: hidden;
                display: flex;
                align-items: center;
                
                .stars {
                    min-width: inherit;
                }
                
                .rank-result {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 20px;
                    background-color: #F3F3F3;
                    margin-left: 12px;
                    font-size: 20px;
                    font-weight: 700;
                }
            }
        }
    }
    
    html .profile__add-opinion .header__level__2 {
        text-align: left;
        font-size: 16px;
        margin-bottom: 17px;
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {  
    .add_opinion {
        padding: 30px 43px;
    }
    
    .profile__head__success {
        display: flex;
    }
    
    .profile__add-opinion {
        .profil__actions {
            display: flex;
        }
        
        .profile__head {
            
            .profile__ranking {
            
                .num-box {
                    width: 90px;
                    height: 90px;
                    line-height: 90px;
                    font-size: 40px;
                    font-weight: 700;
                    margin-right: 14px;
                }
                
                .content-box {
                    padding-top: 35px;
                }
            }
        }
    }

}

//xl: 1200px
@include media-breakpoint-up(xl) {
    
}