//breakpoint 0
@include media-breakpoint-up(xs) {
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    html {
        font-size: .625rem;
        min-height: 100%;
    }
    
    body {
        color:#000;
        line-height: 1.4;
        font-family: 'Nunito Sans', sans-serif;
    }

    .body-wrapper{
        background-color:#fff;

        @include mod('gray'){
            background-color:#f7f8fc;
        }

        @include mod('gray-m'){
            background-color:#f7f8fc;
        }

    }

    html,
    body{
        height: 100%;
    }
    
     ::-moz-selection {
        background: blue;
        color: #fff;
    }
    
     ::selection {
        background: blue;
        color: #fff;
    }

    iframe{
        border:0;
        outline: 0;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    h2{

    }

    h3{

    }

    h4{
        font-size: 16px;
        line-height: 27px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    p{
        font-size: 14px;
        line-height: 22px;
        margin:0;
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    
    a {
        color: #0056FF;
        transition: color $time;
        text-decoration: none;
    }
    
    img{
      max-width: 100%;
      height: auto;
    }
    
    input[type="file"] {
        width: 0 !important;
    }
    
    .content__color {
        background-color: #F7F7FC;
        padding-top: 22px;
        padding-bottom: 68px;
    }
    
    .jfilestyle {
        
        > div {
            width: 0 !important;
        }
        
        input {
            background: none;
            border: none !important;
            
        }
        
        .focus-jfilestyle {

            label {
                display: inline-block;
                border: 1px solid #0057FF;
                border-radius: 3px;
                font-size: 14px;
                font-weight: 700;
                color: #0057FF;
                padding: 10px 15px;
                min-width: 150px;
                text-align: center;
                background-color: #fff;
                transition: 0.3s;
                cursor: pointer;
                cursor: pointer;
                
                &:hover {
                    background-color: #0057FF;
                    color: #fff;
                }
            }
        }
    }

    .relative{
        position: relative;
    }

    section .section-header {

        h2 {
            font-size: 24px;
            text-align: center;
            font-weight: 700;
            margin-bottom: 22px;
        }

        &.header-white {
            h2 {
                color: #fff;
            }
        }
    }
    
    .center {
        display: table;
        margin: 0 auto;
    }
    
    .content__wrapper {
        padding-top: 43px;
        padding-bottom: 56px;
    }
    
    .content__container {
        width: 100%;
        background: #fff;
        box-shadow: 0 3px 20px rgba(0,0,0, .05);
    }
    
    .section__header__level__1 {
        margin-bottom: 40px;
    }
    
    html body .header__level_1,
    html body .header__level__1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.375;
        margin-bottom: 5px;
        text-align: center;
    }
    
    html body .header__level__2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.33;
        margin-bottom: 32px;
        text-align: center;
    }
    
    html body .header__level__3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.33;
        margin-bottom: 32px;
        text-align: center;
    }
    
    .header__align__left {
        text-align: left !important;
    }
    
    .header__note {
        font-size: 15px;
        font-weight: 600;
        line-height: 1.35;
    }
    
    .mb-30{
        margin-bottom: 30px;
    }
    
    .mb-10{
        margin-bottom: 10px;
    }

    .mt-15{
        margin-top:15px;
    }

    .blue{
        color:$blue;
    }
    
    .readmore{
        font-size: 14px;
        color:#9E9E9E;
        text-decoration: none;

        i{
            font-size: 13px;
            margin-left:5px;
        }

        &:hover,
        &:focus{
            color:$red;
        }
    }
    
    input.text,
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="button"],
    input[type="submit"],
    .input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
    }

    .separator{
        margin-top:20px;
        margin-bottom: 20px;
        border:1px dashed #DBDBDB;
        width:100%;
    }
    

    .page-content{

        padding-top:17px;
        padding-bottom:35px;
    
    }
    
    .box-header{
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        margin-bottom: 9px;
    }
    
    .box-content{
        background-color:#fff;
        box-shadow: 0px 2px 37px 0px rgba(0,0,0,0.10);
    
        @include mod('wpadd'){
            padding:16px 8px;
        }
    
    }
    
    .mobile__shadow__box {
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.05);
        margin: 0 15px;
        padding: 35px 0;
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {
    .desktop__container {
        margin-top: 83px;
        margin-bottom: 66px;
    }
    
    html body .header__level_1,
    html body .header__level__1 {
        font-size: 48px;
        text-align: left;
    }
    
     html body .header__level__2 {
        text-align: left;
    }
    
    html body .header__level__3 {
        text-align: left;
    }
}

//lg: 992px
@include media-breakpoint-up(lg) {
    .content__wrapper {
        padding-top: 83px;
        padding-bottom: 83px;
    }
    
    .content__container__desktop {
        background: #fff;
        box-shadow: 0 3px 20px rgba(0,0,0, .05);
    }
    
    .mobile__shadow__box {
        margin: 0;
        padding: 0;
    }
    
    .header__note {
        font-size: 20px;
    }

    .lg-static{
        position: relative;
    }

    p{
        font-size: 16px;
        line-height: 22px;
        margin:0;
        margin-bottom: 18px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    h4{
        font-size: 20px;
        line-height: 27px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .box-wrapp{
    
        @include mod('left'){
            margin-right:9px;
        }
        @include mod('right'){
            margin-left:9px;
        }
    }

    .page-content{

        padding-top:40px;
        padding-bottom:80px;
    
        section{
            margin-bottom: 52px;
        }
    
    }

    .box-header{
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 30px;
    }
    
    .box-content{
        background-color:#fff;
        box-shadow: 0px 2px 37px 0px rgba(0,0,0,0.10);
    
        @include mod('wpadd'){
            padding:38px 34px;
            min-height: 195px;
        }
    
    }

    .body-wrapper{

        @include mod('gray-m'){
            background-color: inherit;
        }

    }


}

//sl: 1440px
@include media-breakpoint-up(sl) {
    
}