//breakpoint 0
@include media-breakpoint-up(xs) {
    .list__course__wrapper {
        background: #fff;
        overflow: hidden;
        position: relative;
        padding-bottom: 60px;
    }


    
    .list__course__container {
        margin-bottom: 18px;
        
        &:last-child {
            .list__course {
                border-bottom: none;
            }
        }
        
        .list__course {
            border-bottom: 1px solid #DBDBDB;
        }
        
        .header {
            font-size: 16px;
            margin-bottom: 23px;
        }
    }

    .filters-btn {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        &:before {
            position: absolute;
            display: block;
            content: "";
            top: 100%;
            left: 0;
            right: 0;
            height: 30px;
            background: -moz-linear-gradient(top, rgba(0,0,0,0.07) 0%, rgba(0,0,0,0) 100%);
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.07) 0%,rgba(0,0,0,0) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0.07) 0%,rgba(0,0,0,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12000000', endColorstr='#00000000',GradientType=0 );
        }
        
        .txt {
            font-size: 16px;
            color: #0057FF;
            margin-right: 15px;
        }

        .num {
            position: relative;
            background: rgba(237, 29, 88, 0.38);
            display: inline-block;
            width: 26px;
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            border-radius: 50%;

            &:before {
                position: absolute;
                display: block;
                content: "";
                left: 4px;
                top: 4px;
                right: 4px;
                bottom: 4px;
                background: #ed1d58;
                border-radius: 50%;
                z-index: -2;
            }
        }
    }

    #close-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 10px;
    }
    
    .list__serach__engine {
        display: none;
        background-color: #fff;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 50px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        &.show {
            display: block;
        }
        
        &:before {
            position: absolute;
            display: block;
            content: "";
            top: 100%;
            left: 0;
            right: 0;
            height: 30px;
            background: -moz-linear-gradient(top, rgba(0,0,0,0.07) 0%, rgba(0,0,0,0) 100%);
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.07) 0%,rgba(0,0,0,0) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0.07) 0%,rgba(0,0,0,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12000000', endColorstr='#00000000',GradientType=0 );
        }
        
        .container {
            display: flex;
            flex-wrap: wrap;
            padding-top: 15px;
            padding-bottom: 15px;
            
            .item {
                width: 100%;
                flex-grow: 1;
                margin-bottom: 15px;
                
                input {
                    width: 100%;
                    border: 1px solid #DBDBDB;
                    padding: 8px;
                    font-size: 16px;
                }
                
                select {
                    width: 100%;
                    border: 1px solid #DBDBDB;
                    padding: 10px;
                    font-size: 16px;
                    position: relative;
                    background: url(../img/arrow_down.svg) calc(100% - 10px) 50% no-repeat;
                    /* for Firefox */
                    -moz-appearance: none;
                    /* for Chrome */
                    -webkit-appearance: none;
                }
                
                .input__search {
                    font-size: 13px;
                    line-height: 24px;
                    border: none;
                    padding-left: 8px;
                    border-bottom: 1px solid #CCCCCC;
                    outline: none;
                }
                
                .header {
                    font-size: 14px;
                    color: #b3b3b3;
                    margin-bottom: 11px;
                }
                
                &:last-child {
                    width: 100%;
                    flex-grow: inherit;
                    
                    button {
                        width: 100%;
                    }
                }
                
                .submit {
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;
                    background: #0058ff;
                    border: none;
                    font-size: 20px;
                    border-radius: 4px;
                }
            }
        }
    }
    
    .list__filters {
        
        .content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding: 22px 0;    
            
            .list__fliters__tabs {
                display: flex;
                margin-top: 15px;
                margin-bottom: 15px;
                
                .tab-ctn {
                    margin-right: 36px;
                    cursor: pointer;
                    
                    input {
                        position: absolute;
                        visibility: hidden;
                    }
                    
                    input:checked + .txt {
                        color: #0058ff;
                        text-decoration: underline;
                    }
                    
                    .txt {
                        font-size: 20px;
                        font-weight: 600;
                        background: none;
                        border: none;
                        padding: 0;
                    }
                }
            }
            
            .list__filters__pages {
                display: flex;
                align-items: center;
                font-size: 14px;
                
                .page {
                    width: 50px;
                    height: 50px;
                    border: none;
                    text-align: center;
                    line-height: 50px;
                    background-color: #fff;
                    border-radius: 4px;
                    margin-right: 12px;
                }
                
                .all__pages {
                    margin: 0 12px;
                }
                
                .arrow {
                    padding: 8px 6px;
                    background: none;
                    border: none;
                    
                    .icon {
                        display: block;
                        font-size: 8px;
                        transform: rotate(-90deg);
                    }
                }
            }

        }
        
    }
    
    .course__list__footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
        .numbers {
            color: #9e9e9e;
            font-size: 15px;
        }
    
        @include mod('padd'){
            margin-top:30px;
            margin-bottom: 50px;
        }
    
    }

}


//md: 768px
@include media-breakpoint-up(md) {
    .course__list__footer {
        justify-content: space-between;
    }

    .filters-btn {
        display: none;
    }

    #close-btn {
        display: none;
    }

    .list__serach__engine {
        display: block;
        position: relative;
        padding-top: 0;
        overflow: inherit;

        .container {
            display: flex;
            flex-wrap: wrap;
            padding-top: 15px;
            padding-bottom: 15px;
            
            .item {
                width: 33%;
                flex-grow: 1;
                padding-right: 40px;
                margin-bottom: 15px;
                
                .header {
                    margin-bottom: 4px;
                }

                .chosen-container {

                    .chosen-single {
                        padding: 8px 16px 8px 8px;
                        padding-left: 0;
                        height: 41px;
                    }

                    &.chosen-with-drop {

                        .chosen-single {
                            padding-left: 8px;
                            padding-right: 8px;
                        }

                    }
                }
                
                &:last-child {
                    width: 63px;
                    height: 63px;
                    padding-right: 0;
                    
                    .submit {
                        width: 65px;
                        height: 65px;
                    }
                }
                
                .input__search {
                    font-size: 16px;
                    line-height: 1;
                }
            }
        }
    }
}

//lg: 992px
@include media-breakpoint-up(lg) {
    
}

//xl: 1200px
@include media-breakpoint-up(xl) {
    .list__serach__engine {
        .container {
            flex-wrap: nowrap;

            .item {
                width: auto;
                margin: 0;
            }
        }
    }
    
    
    .course__list__footer {
        
        
    
        @include mod('padd'){
            margin-bottom: 100px;
        }
    
    }
}