//breakpoint 0
@include media-breakpoint-up(xs) {
    
    .raty-box {
        display: inline-flex;
        align-items: center;
    }
    
    #raty img {
        width: 22px;
    }
    
    #target {
        display: inline-block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 20px;
        background-color: #F3F3F3;
        margin-left: 12px;
        font-size: 20px;
        font-weight: 700;
    }
    
    
    .bootstrap-tagsinput .tag {
        display: inline-flex;
        align-items: center;
    }
    
    .bootstrap-tagsinput .tag [data-role="remove"] {
        background: url(../img/close.svg) 50% 50% no-repeat;
        display: inline-flex;
        width: 12px;
        height: 12px;
        background-size: 100%;
        
        &:after {
            display: none;
        }
    }
    
    
    
    .new__announce {
        
        .announce__header__mobile {
            font-size: 16px;
            color: #0057FF;
            font-weight: 700;
            margin-bottom: 30px;
            
            &.center {
                text-align: center;
            }
        }
        
        .new__anounce__container {
            width: 100%;
            max-width: 880px;
            margin: 0 auto;
        }
        
        h1 {
            margin-bottom: 47px !important;
        }

        h2 {
            font-size: 20px;
            margin-bottom: 30px;
            min-height: 54px;
            font-weight: 600;
        }
        
        .steps {
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            
            &.steps-mobile-none {
                display: none;
            }
            
            .step-arrow {
                background: none;
                border: none;
                flex-grow: 1;
                position: relative;
                
                &.active {
                    &:before {
                        background-color: #0057FF;
                    }
                    
                    &:after {
                        border-top: 2px solid #0057FF;
                        border-right: 2px solid #0057FF;
                    }
                }
                
                &:before {
                    display: block;
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 2px;
                    background-color: rgba(112,112,112, 1);
                }
                
                &:after {
                    display: block;
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                    width: 10px;
                    height: 10px;
                    border-top: 2px solid rgba(112,112,112, 1);
                    border-right: 2px solid rgba(112,112,112, 1);
                }
            }
            
            .step {
                background: none;
                border: none;

                .txt {
                    display: none;
                }
                
                &.active {
                    .num {
                        background-color: rgba(0,87,255, .2);
                        
                        &:before {
                            background-color: #0057FF;
                        }
                    }
                }
                
                .num {
                    display: block;
                    width: 28px;
                    height: 28px;
                    text-align: center;
                    line-height: 28px;
                    font-size: 16px;
                    color: #fff;
                    font-weight: 700;
                    border-radius: 14px;
                    background-color: rgba(112,112,112, .2);
                    position: relative;
                    
                    &:before {
                        position: absolute;
                        content: "";
                        display: block;
                        width: 20px;
                        height: 20px;
                        border-radius: 10px;
                        background-color: rgba(112,112,112, 1);
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        z-index: -1;
                    }
                }
            }
        }

        .form {
            
            .form__row__point {
                display: flex;
                margin-bottom: 24px;
                position: relative;
                
                .field-box:nth-child(2) {
                    flex-grow: 1;
                }
                
                .label-box {
                    width: auto !important;
                }
            }
            
            .fields {
                width: 100%;

                .label-box {
                    width: 194px;
                }

                .field-box {
                    width: auto;
                }
            }
            
            .remove-box {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                border-radius: 12px;
                background: #fff;
                box-shadow: 0 3px 6px rgba(0,0,0, .16);
                cursor: pointer;
                border: 1px solid #fff;
                transition: 0.3s;
                
                &:hover {
                    border: 1px solid #0056FF;
                }
            }

            .form-radio {
                padding-top: 20px;

                .radio-ctn {
                    position: relative;
                    display: block;
                    width: 100%;
                    margin-bottom: 15px;

                    input {
                        position: absolute;
                        visibility: hidden;
                    }

                    input:checked ~ .state {
                        border-color: #0056FF;

                        .control {
                            background: #0056FF;
                        }
                    }

                    .state {
                        padding: 25px 37px;
                        border: 1px solid #DBDBDB;
                        display: flex;
                        align-items: center;
                        border-radius: 3px;
                        cursor: pointer;

                        .control {
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            background: #fff;
                            position: relative;
                            margin-right: 12px;
                            border: 1px solid #DBDBDB;

                            &:before {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translateX(-50%) translateY(-50%);
                                display: block;
                                content: "";
                                width: 19px;
                                height: 19px;
                                border-radius: 50%;
                                border: 2px solid #fff;
                            }
                        }

                        .txt {
                            font-size: 16px;
                        }
                    }
                }
            }

            .register__step {
                display: none;

                @include mod('active') {
                    display: block;
                }

                &.step__end {
                    .icon-finish {
                        width: 47px;
                        margin: 0 auto 22px;
                    }

                    h2 {
                        text-align: center;
                        margin-bottom: 22px;
                        min-height: inherit;
                    }

                    .desc {
                        text-align: center;
                        font-size: 16px;
                        margin-bottom: 46px;
                    }
                }
            }

            .register__features {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .feature-box {
                    padding: 30px 30px 50px;
                    //width: calc(50% - 40px);
                    //margin-right: 80px;
                    width: 100%;
                    margin-bottom: 40px;
                    box-shadow: 0 3px 20px rgba(0,0,0, .05);
                    position: relative;
                    border: 1px solid transparent;
                    transition: 0.3s;
                    max-width: 275px;
                    margin:0 10px 40px;
                    
                    &:hover {
                        border-color: #0056FF;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    .icon {
                        display: block;
                        margin: 0 auto 25px;
                    }

                    h2 {
                        font-size: 20px;
                        line-height: 1.35;
                        text-align: center;
                        margin-bottom: 38px;
                        color: #000;
                    }
                    .price__box {
                        text-align: center;
                        margin-bottom: 37px;

                        .price {
                            display: inline;
                            font-size: 32px;
                            font-weight: 700;
                            color: #ED1D58;
                        }
                        .note {
                            display: inline;
                            font-size: 25px;
                            color: #242F40;
                        }
                    }
                    .list {
                        display: table;
                        margin: 0 auto 52px;
                        padding-left: 0;
                        list-style: none;

                        li {
                            font-size: 14px;
                            color: #5B6B82;
                            margin-bottom: 10px;
                            padding-left: 26px;
                            background: url(../img/check-mark.svg) 0 50% no-repeat;
                        }
                    }
                    
                    .btn {
                        &:hover {
                            background: #0056FF;
                            border-color: #0056FF;
                        }
                    }
                }
            }
        }

        @include el('content') {
            padding: 17px 15px;
        }

        @include el('part') {
            padding-top: 24px;
            padding-bottom: 30px;
            border-bottom: 1px solid #DBDBDB;
            
            &:last-child {
                border-bottom: none;
            }
        }
        
        #next__step {
            margin-top: 40px;
        }
    }
    
    .crop-image {
        padding: 48px 70px;
        
        
        .section-header {
            h2 {
                text-align: center;
            }
        }
        
        .image {
            display: table;
            margin: 0 auto;
            margin-bottom: 50px;
        }
    }
    
    #switch-fields.content-1 {
        .content-1-fields {
            display: table;
        }
        .content-2-fields {
            display: none;
        }
    }
    
    #switch-fields.content-2 {
        .content-1-fields {
            display: none;
        }
        .content-2-fields {
            display: table;
        }
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {
    .new__announce {
        
        .announce__header__mobile {
            display: none;
        }
        
        @include el('content') {
            padding: 58px 139px;
        }
        
        .steps {
            padding: 13px 58px 0;
            border-bottom: 1px solid #DBDBDB;
            
            &.steps-mobile-none {
                display: block;
            }
            
            .step {
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 50px;
                padding-right: 50px;
                
                &.active-step {
                    border-bottom: 2px solid #0057FF;
                    
                    .txt {
                        color: #0057FF;
                    }
                }
                
                .num {
                    display: none;
                }
                .txt {
                    display: block;
                    font-size: 14px;
                    font-weight: 700;
                }
            }
            
            .step-arrow {
                display: none;
            }
        }
        
        @include el('content') {
            padding: 58px 15px;
        }
        
        .form {
            padding: 0 25px;
            
            .form__row__point {
                .label-box {
                    width: 194px !important;
                }
                
                .remove-box {
                    position: static;
                    transform: none;
                    margin: 8px 0 8px 18px;
                }
            }
            
            .register__features {
                

                .feature-box {
                    width: calc(50% - 20px);
                }
            }
        }
    }
}

//lg: 992px
@include media-breakpoint-up(lg) {
    
}

//xl: 1200px
@include media-breakpoint-up(xl) {
    .new__announce {
        
        .steps {
            padding: 13px 108px 0;
        }
        
        .form {
            padding: 0 20px;
            
            .register__features {
                
                flex-wrap: nowrap;

                .feature-box {
                    width: 33%;
                }
            }
        }
    }
}

//sl: 1440px
@include media-breakpoint-up(sl) {
    
}