//breakpoint 0
@include media-breakpoint-up(xs) {
    .main-banner {
        position: relative;
        height: 521px;
        padding-top: 46px;
        background: url(../img/bg_home_mobile.png) 100% 0 no-repeat;

    @include el('bg') {
        display: none;
        width: 100%;
    }

    @include el('container') {
        /*padding-top: 46px;*/
    }

    @include el('inner') {
        margin-left: 15px;
        margin-right: 15px;

        h1 {
            font-size: 22px;
            color: #000957;
            font-weight: 700;
            text-align: center;
            margin-bottom: 15px;
        }

        .note {
            font-size: 16px;
            text-align: center;
            color: #000;
            margin-bottom: 36px;

            .num {
                font-size: 14px;
                color: #fff;
                font-weight: 700;
                padding: 0 12px;
                height: 30px;
                line-height: 30px;
                background: #000957;
                display: inline-block;
                border-radius: 20px;
            }
        }

        .search-engine {
            width: 100%;
            padding: 0;
            background: #fff;
            padding:  15px 15px 0;
            box-shadow: 0 2px 37px rgba(0, 0, 0, 0.1);

            @include el('col') {
                margin-bottom: 20px;
                
                .submit-btn {
                    display: flex;
                    width: calc(100% + 30px);
                    margin-left: -15px;
                    justify-content: center;
                 }

                .header {
                    display: block;
                    font-size: 14px;
                    color: #9e9e9e;
                    margin-bottom: 5px;
                }


                input {
                    width: 100%;
                    font-size: 18px;
                    border: none;
                    border-bottom: 1px solid #9D9D9D;
                    outline: none;
                }

                select {
                    width: 100%;
                    border: 1px solid #DBDBDB;
                    padding: 10px;
                    font-size: 14px;
                    position: relative;
                    background: url(../img/arrow_down.svg) calc(100% - 10px) 50% no-repeat;
                    /* for Firefox */
                    -moz-appearance: none;
                    /* for Chrome */
                    -webkit-appearance: none;
                }
            }
        }
    }
    }
    
    .go {
        display: none;
    }

    .categtories {
        display: flex;
        width: 100%;
        overflow: hidden;
        padding-bottom: 25px;
        
        .category {
            display: inline-flex !important;
            justify-content: flex-start;
        }

        .slick-slide{
            margin: 0 9px;
            padding: 25px 0;
        }
    }
    
    #advert-slider {
        padding: 0;
    }

    .advertisements {
        
        .section-header {
            position: relative;
            
            .slider-nav {
                display: none;
                position: absolute;
                right: 7px;;
                top: 0;
                
                .advert-nav {
                    width: 28px;
                    height: 29px;
                    border: 1px solid #000957;
                    border-radius: 4px;
                    background: #fff;
                    margin-left: 7px;
                    position: relative;
                    transition: 0.3s;
                    outline: none;
                    
                    &:hover {
                        background: #000957;
                        
                        i {
                            &:before {
                                color: #fff;
                            }
                        }
                    }
                    
                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        font-size: 14px;
                        
                        &:before {
                            color: #000957;
                        }
                    }
                    
                    &#advert-prev {
                        i {
                            transform: translateX(-50%) translateY(-50%) rotate(180deg);
                        }
                    }
                }
            }
        }
        
        margin-bottom: 90px;
        padding-left: 5px;
        overflow: hidden;

            .slick-slide {
                padding-top: 15px;
                padding-bottom: 15px;
                margin-right: 7px;
                margin-left: 7px;
            }

        .adverts--list--horiz {
            overflow: hidden;
            padding: 10px 0 10px 10px;
            margin-bottom: 50px;
            display: flex;

            .advertisement {
            }
        }
    }

    .popular_categories {
        margin-top: -105px;
        position: relative;
        margin-bottom: 20px;
    }

    

    .btn-with-arrow {
    display: flex;
    align-items: center;
    color: #adadad;
    font-size: 14px;

    .txt {
        text-decoration: underline;
    }

    .icon {
        font-size: 8px;
        margin-left: 5px;
    }

    &:hover {
        color: #adadad;
        text-decoration: none;

        .txt {
            text-decoration: none;
        }
    }
    }

    .how_it_works {
    .content {
        display: flex;

        .img-box {
            display: none;
            
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        > .content-box {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;

            .steps {

                .step {
                    margin: 34px 0;
                    display: flex;
                    align-items: center;

                    .icon-box {
                        flex-shrink: 0;
                        width: 86px;
                        height: 86px;
                        border-radius: 50%;
                        background-color: #0057ff;
                        margin-right: 44px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .icon {
                            font-size: 38px;
                        }
                    }  

                    .content-box {
                        .count {
                            font-size: 14px;
                            font-weight: 700;
                            text-transform: uppercase;
                            color: #0057ff;
                            margin-bottom: 8px;
                        }
                        .name {
                            font-size: 20px;
                            font-weight: 700;
                            margin-bottom: 4px;
                        }
                        .desc {
                            font-size: 14px;
                            color: #a0a0a0;
                        }
                    }
                }
            }
        }
    }
    }

    .about_us {
    background-color: #0057ff;
    padding: 80px 0 6px;

    .section-header {
        h2 {
            margin-bottom: 60px;
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;

        .text-box {
            width: 100%;
            color: #fff;
            padding-bottom: 54px;

            .header {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 24px;
            }

            p {
                font-size: 16px;
                line-height: 1.6;
            }
        }

        .image-box {
            width: 100%;
            order: -1;
            margin-bottom: 40px;
        }
    }
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}



@media only screen and (max-height: 700px) and (min-width: 1200px) {
    .main-banner {
        height: 640px;
        
        @include el('bg') {
            display: block;
        }
        
        @include el('container') {
            padding-bottom: 0;
        }
    }
    
    .popular_categories {
        margin-bottom: 50px;
    }
    
    .go {
        display: none;
    }
}

//lg: 992px
@include media-breakpoint-up(lg) {
    .main-banner {
        height: calc(100% - 84px - 190px);
        background: none;
        padding-top: 0;
        
        @include el('bg') {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        
        @include el('container') {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding-bottom: 14vh;
        }
        
        @include el('inner') {
            width: 62.6%;
            margin-left: 9%;
            
            h1 {
                font-size: 48px;
                text-align: left;
            }
            
            .note {
                font-size: 24px;
                text-align: left;
                
                .num {
                    font-size: 20px;
                    height: 40px;
                    line-height: 40px;
                    padding: 0 17px;
                }
            }
            
            .search-engine {
                padding: 33px 44px;
                display: inline-flex;
                align-items: flex-end;
                box-shadow: none;
                
                 @include el('col') {
                    margin-bottom: 0;
                    width: 40%;
                    padding-right: 20px;
                     
                    &:last-child {
                        width: 20%;
                        padding-right: 0;
                    }
                     
                     input {
                         font-size: 24px;
                     }
                     
                     .chosen-container {
                         .chosen-single {
                             height: 31px;
                             padding-top: 2px;

                             span {
                                 font-size: 24px;
                             }
                         }
                     }

                     .submit-btn {

                         .txt {
                             font-size: 16px;
                         }
                     }
                }
            }
        }
    }
    
    @keyframes scroll {
        0 {
            top: 7px;
        }

        50% {
            top: 14px;
        }

        100% {
            top: 7px;
        }
        
    }
    
    .go {
        display: block;
        margin-bottom: 75px;
        background: none;
        border: none;
        display: flex;
        align-items: center;
        color: #ababab;
        transition: 0.3s;
        cursor: default;
        outline: none;
        position: relative;

        .icon-scroll {
            margin-right: 12px;
            position: relative;
    
            &:after {
                display: block;
                content: "";
                position: absolute;
                width: 2px;
                height: 6px;
                background: #9c9c9c;
                left: calc(50% - 1px);
                border-radius: 2px;
                top: 7px;
                animation-name: scroll;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
            }
    
            .txt {
                font-size: 14px;
                font-weight: 600;
            }        
        }

        /*&:hover {
            color: #ec1d57;

            .icon {
                &:before {
                    color: #ec1d57;    
                }
            }
        }*/
    }
    
    .popular_categories {
        margin-bottom: 20px;
        
        .section-header {
            h2 {
                margin-bottom: 0;
            }    
        }
    }
    
    .advertisements {
        
        .section-header {
            .slider-nav {
                display: block;
            }
        }
    }
    
    .how_it_works {
        .content {

            .img-box {
                display: block;
                width: 49%;
            }
            
            > .content-box {
                width: 52%;
                padding-left: 0;

                .steps {
                    margin-left: -70px;
                    
                    .step {
                        margin: 36px 0 50px;

                        &:last-child {
                            .icon-box {
                                .icon {
                                    font-size: 60px;
                                }
                            }
                        }
                        
                        .icon-box {
                            width: 140px;
                            height: 140px;
                            
                            .icon {
                                font-size: 50px;
                            }
                        }
                        
                        .content-box {
                            .name {
                                font-size: 24px;
                                font-weight: 700;
                            }
                            .desc {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }

        #tab2 {
            .content {
                
                > .content-box {
    
                    .steps {
                        
                        .step {
    
                            &:last-child {
                                .icon-box {
                                    .icon {
                                        font-size: 50px;
                                    }
                                }
                            }
                            
                            .icon-box {
                                
                                .icon {
                                    font-size: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .about_us {
        .content {
            flex-wrap: nowrap;
            
            .text-box {
                width: 47.3%;
                padding-right: 20%;
                padding-bottom: 0;
            }

            .image-box {
                width: 52.7%;
                order: 1;
                margin-bottom: 0;
            }
        }
    }
}

//xl: 1200px
@include media-breakpoint-up(xl) {
    
}

@media only screen and (min-width: 1500px) {
    .main-banner {
        
        @include el('inner') {
            width: 53.6%;
            margin-left: 19%;
        }
    }
}



            