//breakpoint 0
@include media-breakpoint-up(xs) {
    .checkout {
        padding-bottom: 235px;

        @include el('head') {
            background-color: #F7F8FC;
            margin-bottom: 84px;
            padding-top: 47px;

            @include el('top') {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 68px;
                padding: 0 15px;

                .prev-btn {
                    flex-grow: 1;
                    flex-basis: 0;
                    font-size: 16px;
                    
                    
                    img {
                        margin-right: 9px;
                    }
                }

                .logo {
                    flex-grow: 1;
                    flex-basis: 0;
                }

                .note {
                    flex-grow: 1;
                    flex-basis: 0;
                    font-size: 14px;
                    color: #707070;
                    display: flex;
                    align-items: baseline;
                    justify-content: flex-end;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: center;
                    
                    img {
                        margin-bottom: 8px;
                    }
                    
                    span {
                        display: block;
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            .order {
                > .header {
                    text-align: center;
                }
            }

            .advertisement {
                margin-bottom: -42px;
                
                .advert__content {
                    .advert__content__row2 {
                        .advert__skills {
                            padding: 0;
                        }
                    }
                }
            }
        }

        @include el('content') {
            padding: 0 15px;
            
            .lessons {
                width: 100%;

                tr:last-child {
                    td {
                        border-bottom: none;
                    }
                }

                td {
                    padding: 10px 0;
                    border-bottom: 1px solid #DBDBDB;

                    &:first-child {
                        width: 36px;
                    }

                    &.price-cell {
                        width: 80px;
                    }

                    &.multiply-cell {
                        width: 30px;
                        padding-right: 5px;
                        padding-left: 5px;
                    }
                    &.lesson-cell {
                        width: 100px;
                        padding-right: 5px;
                    }
                }

                .radio-container {
                    width: 24px;
                    height: 24px;
                    display: block;
                    position: relative;
                    cursor: pointer;
                    
                    .state {
                        display: block;
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border: 1px solid #DBDBDB;
                        border-radius: 50%;
                        background-color: #fff;
                        
                    }
                    
                    input:checked ~ .state {
                        border: 1px solid #DBDBDB;
                        background-color: #0056FF;
                    }
                    
                    input:checked ~ .state:before {
                        display: block;
                        content: "";
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        right: 3px;
                        bottom: 3px;
                        border: 3px solid #fff;
                        border-radius: 50%;
                    }

                    input {
                        position: absolute;
                        visibility: hidden;
                    }
                }

                .lesson {
                    font-size: 16px;
                }

                .promo {
                    display: inline-block;
                    font-size: 12px;
                    color: #fff;
                    background: #EC1D57;
                    border-radius: 3px;
                    padding: 3px 12px;
                    text-align: center;
                }
                .multiply {
                    color: #C5C5C5;
                    font-size: 16px;
                }
                .price {
                    font-size: 20px;
                    color: #17284A;
                    font-weight: 700;
                    text-align: right;
                }
            }

            .lessons_summary {
                background-color: #F7F8FC;
                padding: 13px 10px;
                text-align: right;
                margin-bottom: 40px;

                .txt {
                    display: inline-block;
                    font-size: 24px;
                    font-weight: 700;
                }

                .price {
                    display: inline-block;
                    font-size: 24px;
                    color: #0056FF;
                    font-weight: 700;
                }
            }

            .payments {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -8px;
                margin-bottom: 33px;

                .item {
                    //width: calc(50% - 16px);
                    width: 100%;
                    margin: 0 8px 30px;
                    position: relative;
                    min-height: 102px;
                    cursor: pointer;

                    .content {
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        border: 2px solid #DBDBDB;
                        min-height: 102px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 3px;
                    }

                    .state {
                        display: block;
                        width: 25px;
                        height: 25px;
                        border: 1px solid #DBDBDB;
                        border-radius: 3px;
                        position: absolute;
                        top: 9px;
                        right: 12px;
                    }

                    input:checked ~ .content {
                        border-color: #0056FF;
                    }

                    input:checked ~ .content .state {
                        background: #0056FF;
                        border-color: #0056FF;
                    }

                    input:checked ~ .content .state:after {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        content: "\e912";
                        font-family: 'icomoon';
                        color: #fff;
                    }

                    input {
                        position: absolute;
                        visibility: hidden;
                    }

                    .icon {
                        display: flex;
                        align-items: center;

                        .txt {
                            margin-left: 13px;
                            color: #707070;
                            font-size: 16px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {
    
}

//lg: 992px
@include media-breakpoint-up(lg) {
    .checkout {

        @include el('head') {

            @include el('top') {
                padding: 0;

                .note {
                    flex-wrap: nowrap;
                    
                    img {
                        margin-right: 8px;
                        margin-bottom: 0;
                    }
                    
                    span {
                        display: inline;
                        width: auto;
                        text-align: left;
                    }
                }
            }
            
            .advertisement {
                
                .advert__content {
                    .advert__content__row2 {
                        .advert__skills {
                            padding: 8px 24px 22px 31px
                        }
                    }
                }
            }
        }
        
        @include el('content') {
            
            .lessons {

                td {
                    &.lesson-cell {
                        padding-right: 36px;
                    }
                }
            }
            
            .payments {
                flex-wrap: nowrap;
                margin-bottom: 73px;

                .item {
                    width: calc(50% - 16px);
                    margin: 0 8px 0;
                }
            }
        }
    }
}

//xl: 1200px
@include media-breakpoint-up(xl) {

}

//sl: 1440px
@include media-breakpoint-up(sl) {
    
}