//breakpoint 0
@include media-breakpoint-up(xs) {
    .login-wrapper {
        display: block;

        .side {
            flex-grow: 1;
            flex-basis: 0;
            padding: 31px 12px;

            &.signup {
                background: #E9E9E9;
            }
        }

        .fb-button {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #3B5998;
            color: #fff;
            font-size: 16px;
            padding: 9px 43px 12px 43px;
            border-radius: 3px;
            transition: 0.3s;
            opacity: 1;
            text-decoration: none;

            &:hover {
                text-decoration: none;
                opacity: 0.8;
            }

            .icon {
                font-size: 19px;
                margin-right: 7px;
            }
        }

        .gap {
            text-align: center;
            margin-bottom: 32px;
            position: relative;

            &:before {
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                content: "";
                height: 1px;
                background: #A4A4A4;
            }

            span {
                background: #fff;
                font-size: 16px;
                color: #A4A4A4;
                padding: 0 11px;
                position: relative;
            }
        }

        .login-btn {
            margin-top: 30px;
        }

        .image {
            display: table;
            margin: 0 auto 70px;
        }
    }

    .forgot-pass {
        display: block;
        text-align: center;
        font-size: 16px;
        color: #0056FF;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {
    .login-wrapper {
        display: flex;
        width: calc(100% - 30px);
        max-width: 800px;
        margin: 83px auto 66px;
        
        .side {
            padding: 31px 54px;
        }
    }
}

//lg: 992px
@include media-breakpoint-up(lg) {
    
}

//xl: 1200px
@include media-breakpoint-up(xl) {
    
}