//breakpoint 0
@include media-breakpoint-up(xs) {
    .opinion__success {
        padding: 43px 15px 57px;
        
        .icon {
            width: 47px;
            display: table;
            margin: 0 auto 30px;
        }
        
        h2 {
            margin-bottom: 7px !important;
        }
        
        .desc {
            font-size: 16px;
            margin-bottom: 28px;
        }
        
        .btn {
            width: 100%;
            justify-content: center;
        }
        
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {
    .opinion__success {
        padding: 43px 110px 57px;
        
        h2 {
            font-size: 24px !important;
            margin-bottom: 10px !important;
        }
    }
}

//xl: 1200px
@include media-breakpoint-up(xl) {
    
}