//breakpoint 0
@include media-breakpoint-up(xs) {

    .add-item{

        display:flex;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
        color:$blue;
        
        @include el('icon'){
            display:block;
            width:16px;
            height:16px;
            margin-right:5px;
            border-radius: 5px;
            position: relative;
            background-color:$blue;
            transition: background-color $time;
            
            &:before,
            &:after{
                content:'';
                display:block;
                background-color:#fff;
                position: absolute;
                top:50%;
                left:50%;
                transform: translateX(-50%) translateY(-50%);
            }

            &:before{
                width:10px;
                height:3px;
            }

            &:after{
                width:3px;
                height:10px;
            }

            @include mod('big'){
                width:27px;
                height:27px;
                margin-right:20px;
                &:before{
                    width:15px;
                    height:2px;
                }
    
                &:after{
                    width:2px;
                    height:15px;
                }
            }

        }

        &:hover,
        &:focus{
            color:$red;

            .add-item__icon{
                background-color:$red;
            }

        }

    }

    .panel-nav{

        position: relative;
        text-align:center;

        @include el('title'){
            width:165px;
            height:30px;
            display:flex;
            justify-content: space-between;
            align-items: center;
            margin:12px auto 34px;
            font-size:16px;
            font-weight: 600;
            color:#000;
            background-color:#fff;
            border:1px solid #000;

            span{
                margin-left:6px;
            }

            img{
                width:14px;
                height:8px;
                margin-left:6px;
                margin-right:auto;
            }
        }

        @include el('list'){
            
            display: none;
            list-style: none;
            margin:0;
            padding:0;
            list-style: none;
            margin: 0;
            padding: 0;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 0.9);
            position: absolute;
            z-index: 2;
            left: 50%;
            transform: translateX(-50%);
            min-width: 290px;
            padding: 18px;
            top: 27px;
            white-space: nowrap;

            li{

                margin-bottom: 24px;
                
                &:last-child{
                    margin-bottom: 0;
                }

                a{
                    display:flex;
                    align-items: center;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 700;
                    color:#000;

                    &:hover{
                        color:$red;
                    }

                }

            }

            &.open{
                display: inline-flex;
            }

        }

        @include el('icon'){
            width:27px;
            flex: 0 0 27px;
            display:flex;
            align-items: center;
            justify-content: center;
            margin-right:20px;

            i.icon-msg{
                &:before{
                    font-size: 23px;
                }
            }

            i.icon-banknot {
                &:before {
                    font-size: 32px;
                }
            }

        }

        @include el('counter'){
            font-size:14px;
            font-weight: 700;
            color:#707070;
            display:flex;
            align-items: center;
            justify-content: center;
            height:22px;
            background-color:#F3F3F3;
            margin-left:10px;
            padding:0 15px;
            border-radius: 15px;
        }
    
    }

    .panel-hello{

        display:flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        
        @include el('avatar'){

            position: relative;
            width:68px;
            height:68px;
            overflow: hidden;
            border-radius: 50%;

            img{
                object-fit: cover;
                width:100%;
                height:100%;
                position: absolute;
                top:0;
                left:0;
            }

        }

        @include el('text'){
            font-size: 20px;
            line-height: 60px;
            font-weight: 700;
        }

        @include el('btn'){
            width:120px;
            height:30px;
            display:flex;
            justify-content: center;
            align-items: center;
            background-color:#fff;
            border-radius: 5px;
            border:1px solid $blue;
            color:$blue;
            font-size:12px;
            font-weight: 600;
            transition: all $time;

            &:hover,
            &:focus{
                background-color:$blue;
                color:#fff;
            }

        }

    }

    .panel-content{

        @include el('header'){
            display:flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 21px;

            h2{
                font-size: 20px;
                font-weight: 600;
                line-height: 1;
                margin:0;
            }

        }

    }

    .cfs-img{

        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        min-height: 160px;

        img{
            position: absolute;
            top:0;
            left:0;
            z-index: 1;
            object-fit: cover;
            width:100%;
            height:100%;
        }

        @include el('cat'){
            position: absolute;
            z-index: 3;
            top: 9px;
            left: 13px;
            background-color: #fff;
            padding: 6px 13px;
            box-shadow: 0px 0px 16px 0px rgba(0, 87, 255, 0.3);
            font-size: 12px;
            line-height: 1;
            text-transform: uppercase;
            color: #0056FF;
            font-weight: 600;
            letter-spacing: 0.6px;
        }

        @include el('title'){
            position: relative;
            z-index: 3;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            color:#fff;
            padding:13px;
        }

        &:after{
            content:'';
            position: absolute;
            z-index: 2;
            bottom: 0;
            left:0;
            width:100%;
            height:54%;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0000ff+0,0055ff+1,0055ff+2,0060ff+3,004dff+4,004eff+5,005eff+7,0051ff+8,0058ff+10,0058ff+11,0052ff+12,0059ff+15,0055ff+16,0058ff+19,0053ff+20,0058ff+23,0054ff+23,0058ff+35,0055ff+36,0056ff+100&0+0,0.99+99,0.37+100 */
            background: -moz-linear-gradient(top, rgba(0,0,255,0) 0%, rgba(0,85,255,0.01) 1%, rgba(0,85,255,0.02) 2%, rgba(0,96,255,0.03) 3%, rgba(0,77,255,0.04) 4%, rgba(0,78,255,0.05) 5%, rgba(0,94,255,0.07) 7%, rgba(0,81,255,0.08) 8%, rgba(0,88,255,0.1) 10%, rgba(0,88,255,0.11) 11%, rgba(0,82,255,0.12) 12%, rgba(0,89,255,0.15) 15%, rgba(0,85,255,0.16) 16%, rgba(0,88,255,0.19) 19%, rgba(0,83,255,0.2) 20%, rgba(0,84,255,0.23) 23%, rgba(0,88,255,0.35) 35%, rgba(0,85,255,0.36) 36%, rgba(0,86,255,0.99) 99%, rgba(0,86,255,0.37) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0,0,255,0) 0%,rgba(0,85,255,0.01) 1%,rgba(0,85,255,0.02) 2%,rgba(0,96,255,0.03) 3%,rgba(0,77,255,0.04) 4%,rgba(0,78,255,0.05) 5%,rgba(0,94,255,0.07) 7%,rgba(0,81,255,0.08) 8%,rgba(0,88,255,0.1) 10%,rgba(0,88,255,0.11) 11%,rgba(0,82,255,0.12) 12%,rgba(0,89,255,0.15) 15%,rgba(0,85,255,0.16) 16%,rgba(0,88,255,0.19) 19%,rgba(0,83,255,0.2) 20%,rgba(0,84,255,0.23) 23%,rgba(0,88,255,0.35) 35%,rgba(0,85,255,0.36) 36%,rgba(0,86,255,0.99) 99%,rgba(0,86,255,0.37) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0,0,255,0) 0%,rgba(0,85,255,0.01) 1%,rgba(0,85,255,0.02) 2%,rgba(0,96,255,0.03) 3%,rgba(0,77,255,0.04) 4%,rgba(0,78,255,0.05) 5%,rgba(0,94,255,0.07) 7%,rgba(0,81,255,0.08) 8%,rgba(0,88,255,0.1) 10%,rgba(0,88,255,0.11) 11%,rgba(0,82,255,0.12) 12%,rgba(0,89,255,0.15) 15%,rgba(0,85,255,0.16) 16%,rgba(0,88,255,0.19) 19%,rgba(0,83,255,0.2) 20%,rgba(0,84,255,0.23) 23%,rgba(0,88,255,0.35) 35%,rgba(0,85,255,0.36) 36%,rgba(0,86,255,0.99) 99%,rgba(0,86,255,0.37) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000ff', endColorstr='#5e0056ff',GradientType=0 ); /* IE6-9 */
        }

    }

    .cfs{

        @include el('item'){
            box-shadow: 0px 2px 37px 0px rgba(0, 0, 0, 0.1);
        }

        @include el('content'){
            background-color:#fff; 
            padding:12px 8px 23px;
        }

        @include el('btn'){

            display:flex;
            flex-direction: column;
            align-items: center;

            span{
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;
                margin-bottom: 8px;
                width: 60%;
                text-align: center;
            }

            img{
                width:37px;
                height:37px;
                margin-right:6px;
            }

            a{
                font-size: 20px;
                width: 128px;
                padding: 0;
                justify-content: center;
            }

        }

    }

    .hpayments{
        
        @include el('item'){

            display:flex;
            flex-wrap: wrap;
            
            box-shadow: 0px 2px 37px 0px rgba(0, 0, 0, 0.1);
            margin-bottom: 24px;
            background:#fff;

            &:last-child{
                margin-bottom: 0;
            }

        }

        @include el('col'){

            font-size: 16px;
            line-height:22px;
            padding:15px;
            display:flex;
            align-items: center;

            @include mod('title'){
                font-weight: 700;
                width:100%;
                flex: 0 0 100%;
                order:4;
                padding:0 15px;
            }

            @include mod('date'){
                color:#9E9E9E;
                flex:0 0 auto;
                padding-left:0;
                padding-right:0;
                margin-left:auto;
            }

            @include mod('price'){
                color:#0056FF;
                padding-right:15px;
            }

            @include mod('btn'){
                order:5;
                margin:auto;
            }

        }

        @include el('btn'){
            height:37px;
            display:flex;
            justify-content: center;
            align-items: center;
            padding:0 16px;
            border-radius: 5px;
            color:#fff;
            background-color:$blue;
            transition: background-color $time;

            &:hover{
                background-color:$red;
            }

        }

    }

}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {

}

//lg: 992px
@include media-breakpoint-up(lg) {

    .panel-nav{

        position: relative;
        min-height: 100%;

        @include el('title'){
            width:auto;
            height:auto;
            display:block;
            margin:0;
            font-size:24px;
            line-height: 103px;
            border:0;
            text-align: left;

            span{
                margin-left:0;
            }

            img{
                display:none;
            }
        }

        @include el('list'){
            position: relative;
            display:block !important;
            padding-right:38px;
            background:none;
            transform: none;
            padding:0;
            left:0;
            top:0;
            padding-right:53px;


            li{

                margin-bottom: 36px;

                a{
                    position: relative;
                    z-index: 2;

                    /* &:after{
                        content:'';
                        display:block;
                        position: absolute;
                        right:0;
                        top:50%;
                        transform: translateY(-50%);
                        width:2px;
                        height:47px;
                        background-color:$blue;
                        opacity: 0;
                        transition: opacity $time;
                    } */

                    &.active{
                        &:after{
                            opacity: 1;
                        }
                    }
                }
            }

        }
    
    }

    #panel-nav-slider{
        display: block;
        position: absolute;
        left: -56px;
        top: 0;
        width: 2px;
        height: 47px;
        background-color: #0056FF;
    }

    .panel-hello{

        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 0;
        height: 103px;

        @include el('text'){
            font-size: 24px;
            line-height: 1;
            font-weight: 700;
        }

        @include el('btn'){
            margin-left:20px;
            width:128px;
            height:37px;
            font-size:16px;
        }

    }

    .panel-content{

        position: relative;

        &:before{
            content: '';
            position: absolute;
            left: -55px;
            top: 0;
            display: block;
            width: 1px;
            height: 100%;
            background-color: #DBDBDB;
        }

        @include el('header'){

            padding-bottom: 45px;

        }

    }

    .cfs{

        @include el('inner'){
            padding-bottom: 5px;
        }

        @include el('item'){
            margin-bottom: 25px;
            overflow: hidden;

            @include mod('last'){
                margin-bottom: 0;
            }

        }

        @include el('content'){
            padding:0;
        }

        @include el('title'){
            font-size:20px;
            line-height: 27px;
            font-weight: 700;
            padding-right:80px;
            padding-top:12px;
            padding-left:22px;
        }

        @include el('is-public'){
            font-size: 14px;
            line-height: 27px;
            text-align: right;
            color:#9E9E9E;
            padding-right:28px;
            padding-top:12px;
        }

        @include el('options'){

            display: flex;
            padding-left: 22px;

            a{
                position: relative;
                font-size: 14px;
                line-height: 19px;
                color:#9E9E9E;
                margin-right:55px;
                padding:14px 0;
                display: block;

                &:after{
                    content:'';
                    display:block;
                    position: absolute;
                    z-index: 2;
                    bottom: -1px;
                    left:50%;
                    transform: translateX(-50%);
                    width:0;
                    height:2px;
                    background-color:$blue;
                    transition: all $time;
                }

                &:last-child{
                    margin-right: 0;
                }

                &:hover{
                    color:$blue;
                    &:after{
                        width:100%;
                    }
                }

            }
        }

        @include el('btns'){
            min-height: 80px;
        }

        @include el('btn'){

            flex-direction: row;
            justify-content: center;
            border-top:1px solid #DBDBDB;

            span{
                font-size: 12px;
                margin-bottom: 0px;
                margin-right:10px;
                text-align: left;
                width:auto;
            }

            img{
                width:37px;
                height:37px;
                margin-right:6px;
            }

            a{
                font-size: 16px;
                width: 110px;
            }

            @include mod('border-right'){
                border-right:1px solid #DBDBDB;
            }

        }

    }

    .cfs-img-wrapper{
        position: relative;
    }

    .cfs-img{

        position: absolute;
        width:100%;
        height:100%;

        @include el('title'){
            display: none;
        }

        &:after{
            display: none;
        }

    }

    .hpayments{

        @include el('item'){
            flex-wrap: wrap;
            
            @include mod('label'){
                box-shadow: none;
                background: none;
            }

        }

        @include el('label'){
            font-size: 14px;
            line-height: 19px;
            color:#9E9E9E;

            @include mod('id'){
                padding-left:30px;
                padding-right:24px;
            }

            @include mod('title'){
                padding-right: 30px;
                width: 329px;
            }

            @include mod('date'){
                width: 90px;
                flex: 0 0 90px;
                margin-right:30px;
            }

        }
        

        @include el('col'){

            padding:30px;
            white-space: nowrap;

            @include el('id'){
                order:1;
            }

            @include mod('title'){
                order:2;
                flex: 0 0 300px;
            }

            @include mod('date'){
                order:3;
                margin-left:0;
                padding: 0;
                width: 90px;
                flex: 0 0 90px;
            }

            @include mod('price'){
                order:4;
                padding-right:0;
            }

            @include mod('btn'){
                order:5;
                margin:0;
                padding-top:0;
            }

        }

        @include el('btn'){
            height:37px;
            display:flex;
            justify-content: center;
            align-items: center;
            padding:0 16px;
            border-radius: 5px;
            color:#fff;
            background-color:$blue;
            transition: background-color $time;

            &:hover{
                background-color:$red;
            }

        }

    }

}


//xl
@include media-breakpoint-up(xl) {

    .hpayments{
        @include el('item'){
            flex-wrap: nowrap;
        }
        @include el('col'){
            @include mod('btn'){
                padding-top:29px;
            }
        }
    }

    .cfs{

        @include el('btn'){

            span{
                margin-right:19px;
                font-size: 16px;
            }

            a{
                font-size: 20px;
                width: 128px;
            }

        }

    }

}