.mb-30{
    margin-bottom: 30px;
}

.mb-10{
    margin-bottom: 10px;
}

/* .btn{
    
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-decoration: none;
    border-radius: 5px;
    border:1px solid #0056b3;

    img{
        margin-right:10px;//zmienic na icon
    }

    @include mod('white'){
        border-color:#0056b3;
        color:#0056b3;
        background-color:#fff;
    }

} */

.stars{
    position: relative;
    width: 133px;

    img{
        width:22px;
        height:21px;
        margin-right:3px;
        &:last-child{
            margin-right:0;
        }
    }
}

.readmore{
    font-size: 14px;
    color:#9E9E9E;
    text-decoration: none;
    &:hover,
    &:focus{
        color:$red;
    }
}

.page-content{
    padding:40px 0 80px;

    section{
        margin-bottom: 52px;
        &:last-child{
            margin-bottom: 0;
        }
    }

}

.box-wrapp{

    @include mod('left'){
        margin-right:9px;
    }
    @include mod('right'){
        margin-left:9px;
    }
}

.box-header{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.box-content{
    background-color:#fff;
    box-shadow: 0px 2px 37px 0px rgba(0,0,0,0.10);

    @include mod('wpadd'){
        padding:38px 34px;
        min-height: 207px;
    }

}

.banner{
    display: flex;
    align-items: center;
    padding:65px 0;
    min-height:147px;
    background:url('../img/2/music.jpg') no-repeat; //do podmiany lub dodać tło
    background-size:cover;

    @include el('header'){
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
        color:#fff;
    }

}

.lclz{

    display: flex;
    align-items: center;
    color:#fff;
    margin-top:15px;

    @include el('pin'){
        margin-right:5px;
        margin-top:-2px;
    }

    @include el('header'){
        font-size: 16px;
        line-height: 1;

        @include mod('bigger'){
            font-size: 20px;
            font-weight: 600;
        }
    }

    @include el('desc'){

    }

    @include mod('black'){
        color:#000;
    }

}

.rating-box{

    display:flex;
    line-height: 1;

    @include el('thumb'){
        position: relative;
        margin-right:17px;
        width:89px;
        height:89px;
        border-radius: 50%;
        overflow: hidden;
        background:#fff; //do usuniecia

        img{
            border-radius: 50%;
            object-fit: cover;
            width:100%;
            height:100%;
            position: absolute;
            top:0;
            left:0;
        }

    }

    @include el('content'){
        color:#fff;
    }

    @include el('name'){
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 9px;
    }

    @include el('inner'){
        display:flex;
        align-items: center;
    }

    @include el('val'){
        font-size:40px;
        font-weight: 700;
        margin-right:18px;

        @include mod('circle'){
            background-color:#F3F3F3;
            border-radius: 50%;
            color:#000;
            width: 89px;
            height:89px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    @include el('info'){
        position: absolute;
        transform: translateY(100%);
        bottom: -12px;
        font-size: 16px;
        line-height: 1.2;

        a{
            color:#fff;
            text-decoration: underline;
            &:hover{
                color:#ef3048;
            }
        }

        @include mod('gray'){
            color:#808080;
            a{
                color:#0056FF;

            }
        }

    }

}

.course-menu{

    background-color:#fff;

    ul{

        list-style: none;
        padding:0;
        margin:0;
        display: flex;
        align-items: center;

        li{

            margin-right:52px;
            &:last-child{
                margin-right:0;
            }

            a{

                position: relative;
                display: block;
                color:#707070;
                font-size: 16px;
                font-weight: 600;
                line-height: 58px;
                text-decoration: none;

                &:after{
                    content:'';
                    display:block;
                    position: absolute;
                    bottom: -1px;
                    left:50%;
                    width:0;
                    height:2px;
                    transform: translateX(-50%);
                    transition: all .3s ease-in-out;
                    background-color:#0056FF;
                }

                &:hover,
                &:focus{
                    text-decoration: none;
                    color:#000;
                    &:after{
                        width:100%;
                    }
                }

                &.active{
                    color:#000;
                    &:after{
                        width:100%;
                    }
                }
            }
        }
    }
}

.course-desc{
    
    @include el('img'){
        position: relative;
        height:271px;

        img{
            object-fit: cover;
            width: 100%;
            height:100%;
        }
    }

    @include el('cat'){
        position: absolute;
        top:46px;
        left:44px;
        background-color:#fff;
        padding:6px 13px;
        box-shadow: 0px 0px 16px 0px rgba(0, 87, 255, 0.3);
        font-size:12px;
        line-height: 1;
        text-transform: uppercase;
        color:#0056FF;
        font-weight: 600;
        letter-spacing: 0.6px;
    }

    @include el('content'){
        padding:21px 44px 37px;
    }

}

.skill-list{
    padding-top:18px;
    margin-top:25px;
    border-top:1px dashed #dbdbdb;

    ul{

        list-style: none;
        margin:0;
        margin-top:33px;
        padding:0;
        display:flex;
        flex-wrap: wrap;

        li{
            border-radius: 12px;
            background-color: #CCCCCC;
            display: flex;
            justify-content: center;
            align-items: center;
            padding:5px 15px;
            color:#fff;
            font-size: 12px;
            font-weight: 600;
            margin-right:15px;
            margin-bottom: 15px;
            &:last-child{
                margin-right:0;
            }
        }
    }

}

.price-box{
    padding:30px 30px 40px;

    h4{
        line-height: 1;
    }

    @include el('value'){
        display:flex;
        align-items: center;
        justify-content: center;
        background-color:#0058FF;
        font-size: 40px;
        line-height: 1;
        color:#fff;
        padding:10px;
    }

    @include el('list-header'){
        font-size: 16px;
        line-height: 1;
        margin-top:25px;
        margin-bottom: 20px;
    }

    @include el('list'){

        list-style: none;
        margin:0;
        margin-bottom: 25px;
        padding:0;

        li{

            display:flex;
            align-items: center;
            position: relative;
            font-size: 16px;
            margin-bottom: 8px;
            &:last-child{
                margin-bottom: 0;
            }

            &:before,
            &:after{
                content:'';
                display:block;
                border-radius: 50%;
                margin-right:16px;
            }

            &:before{
                width:25px;
                height:25px;
                background-color: rgba(0, 86, 255, .24);
            }

            &:after{
                position: absolute;
                top:5px;
                left:5px;
                width:15px;
                height:15px;
                background-color:rgba(0, 86, 255, 1);
            }

        }
    }

}

.course-when{
    display:flex;
    align-items: top;
    font-size: 20px;
    font-weight: 600;
    line-height: 38px;

    img{
        vertical-align: top;
        margin-top:5px;
        margin-bottom: auto;
        margin-right:18px;
    }

}

.organizer{

    @include el('inner'){
        display:flex;
    }

    @include el('item'){
        display:flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 0;
        padding:28px 23px;
        border-bottom: 1px solid #ddd;
        border-right:1px solid #ddd;
        &:last-child{
            border-right:0;
        }
    }

    @include el('info'){
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include el('img'){
        width:82px;
        height:82px;
        border-radius: 50%;
        overflow: hidden;
        margin-right:17px;
        box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.1);
    }

    @include el('name'){
        font-size:20px;
        line-height: 26px;
        font-weight: 600;
    }

    @include el('text'){
        padding: 31px 40px 26px;
        p{
            margin-bottom: 0;
        }
    }

    @include el('readmore'){
        font-size:14px;
        color:#9E9E9E;
        margin-top:5px;
        display: inline-block;
        &:hover,
        &:focus{
            color:$red;
        }
    }

}


.tooltip-wrapper{
    display:none;
}

.tooltip{

    padding:23px;

    @include el('header'){
        font-size: 20px;
        font-weight: 600;
    }

    @include el('content'){

    }

    @include el('item'){
        
        display:flex;
        align-items: center;
        flex: 0 0 100%;
        font-size: 16px;
        line-height: 1;
        font-weight: 600;
        color:#000;
        text-decoration: none;
        margin-top:20px;
        
        @include mod('email'){
            color:$blue;
        }

        &:hover,
        &:focus{
            color:$red;
        }

    }

    @include el('icon'){
        margin-right:19px;
        flex:0 0 34px;
        width:34px;
    }

}

