//breakpoint 0
@include media-breakpoint-up(xs) {
    
    
    
    .profile {
        
        section.scrollspy {
            padding-top: 30px;
            margin-top: -30px;
        }
        
        .register-box-wrapper {
            display: none;
        }
        
        @include el('order') {
            display: flex;
            flex-wrap: wrap;
        }
        
        @include el('head') {
            width: 100%;
            
            
            .profile__profile {
                height: 100%;
                display: block;
                text-align: center;
                padding: 38px 0 25px;
                
                .img-box {
                    margin-right: 33px;
                    flex-shrink: 0;
                    display: table;
                    margin: 0 auto;
                    width: 114px;
                    height: 114px;
                    box-shadow: 0 5px 8px rgba(0,0,0, .1);
                    border-radius: 50%;
                    overflow: hidden;
                    
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                
                .content-box {
                    h1 {
                        font-size: 32px;
                        font-weight: 700;
                        line-height: 1.375;
                        margin-bottom: 2px;
                    }
                    
                    .location {
                        font-size: 16px;
                        color: #707070;
                        
                        .icon {
                            margin-right: 9px;
                        }
                    }
                }
            }
            
            .profile__ranking {
                height: 100%;
                padding-top: 34px;
                padding-bottom: 34px;
                overflow: hidden;
                
                
                .num-box {
                    width: 90px;
                    height: 90px;
                    text-align: center;
                    line-height: 90px;
                    border-radius: 50%;
                    background-color: #F3F3F3;
                    font-size: 40px;
                    font-weight: bold;
                    float: left;
                    margin-right: 14px;
                }
                
                .content-box {
                    overflow: hidden;
                    padding-top: 35px;
                    
                    .stars {
                        margin-bottom: 10px;
                    }
                    
                    .txt {
                        color: #707070;
                        font-size: 14px;
                    }
                    
                    .opinions {
                        display: inline-block;
                        font-size: 14px;
                        color: #0056FF;
                        text-decoration: underline;
                        
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
            
            .profil__actions {
                height: 100%;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                align-content: center;                
                
                .btn {
                    width: 100%;
                    justify-content: center;
                    margin-bottom: 16px;
                    
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            
        }
        
        @include el('tabs') {
            background-color: #fff;
            order: -1;
            width: 100%;
            box-shadow: 0 2px 37px rgba(0,0,0, .1);
            
            .tabs {
                margin-bottom: 0;
                overflow: auto;
                
                &:after {
                    display: none;
                }
                
                .tab {
                    padding-top: 13px;
                    margin-left: 0;
                    margin-right: 25px;
                    color: #707070;
                }
            }
        }
        
        .content__wrapper {
            
            .profile {
                margin-bottom: 60px;
                
                .section-header {
                    display: none;
                }
                
                .content__container {
                    padding: 33px;
                    font-size: 16px;
                }
            }
            
            .opinions {
                margin-bottom: 60px;
                
                .section-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 32px;
                    
                    h2 {
                        margin-bottom: 0;
                    }
                    
                    .add-opinion {
                        background: none;
                        border: none;
                        display: flex;
                        align-items: center;
                        padding: 6px;
                        border-radius: 4px;
                        background: transparent;
                        transition: 0.3s;
                        
                        img {
                            margin-right: 10px;
                        }
                        
                        .txt {
                            font-size: 14px;
                            color: #0057FF;
                        }
                        
                        &:hover {
                            background: #fff;
                        }
                    }
                }
                
                @include el('list') {
                    .testi {
                        margin-bottom: 30px;
                    }
                }
                
                .opinions-next {
                    font-size: 14px;
                    color: #9E9E9E;
                    text-decoration: none;
                    display: inline-flex;
                    align-items: center;
                    
                    &:hover {
                        .txt {
                            text-decoration: underline;
                        }
                    }
                    
                    img {
                        margin-left: 8px;
                    }
                }
            }
        }
        
        .register-box-wrapper {
            padding-top: 63px;
        }
        
        .register-box {
            text-align: center;
            background: #0056FF;
            padding-bottom: 27px;
            
            img {
                display: inline-block;
                margin: 24px 0 16px;
            }
            
            .desc {
                font-size: 24px;
                color: #fff;
                margin-bottom: 22px;
                font-weight: 700;
            }
            
            .btn {
                text-decoration: none;
                
                &:hover {
                    background-color: #fff;
                    color: #0056FF;
                    border-color: transparent;
                }
            }
        }
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {
    .profile {
        section.scrollspy {
            padding-top: 30px;
            margin-top: -30px;
        }
        
        .register-box-wrapper {
            display: block;
        }   
        @include el('head') {
            background: #fff;
            position: relative;
            z-index: 1001;
            border-bottom: 1px solid rgba(112, 112, 112, 0.2);
            
            .profile__profile {
                display: flex;
                text-align: left;
                padding-right: 15px;
                border-right: 1px solid rgba(112, 112, 112, 0.2);
                
                .img-box {
                    margin: 0;
                    margin-right: 32px;
                }
            }
            
            .profile__ranking {
                border-right: 1px solid rgba(112, 112, 112, 0.2);

                .content-box {
                    .txt {
                        font-size: 16px;
                    }

                    .opinions {
                        font-size: 16px;
                    }
                }
            }
            
            .profil__actions {
                padding-right: 30px;
                padding-left: 12px;
                border-right: 1px solid rgba(112, 112, 112, 0.2);
                
                .btn {
                    height: 60px;
                }
            }
        }
        
        @include el('tabs') {
            background-color: #fff;
            order: 1;
            
            .tabs {
                
                .tab {
                    margin-right: 80px;
                    color: #707070;
                }
            }
        }
        
        .content__wrapper {
            
            .profile {
                
                .section-header {
                    display: block;
                }
            }
        }
        
    }
}

//xl: 1200px
@include media-breakpoint-up(xl) {
    .profile {  
        @include el('head') {
            
            .profil__actions {
                padding-right: 44px;
                padding-left: 28px;
            }
        }
    }
}



