//breakpoint 0
@include media-breakpoint-up(xs) {
    .register {
        display: flex;

        @include el('side') {
            display: none;
        }

        @include el('main') {
            width: 604px;
            padding-left: 15px;
            padding-right: 15px;
            margin: 0 auto;
            
            .section-header {
                margin-bottom: 11px;
                
                .header__level_1 {
                    margin-bottom: 27px;
                }
            }
        }
        
        .form-note {
            color: #949494;
            margin-bottom: 0;
            
            @include mod('mobile') {
                display: block;
            }
            
            @include mod('desktop') {
                display: none;
            }
        }
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {
    .register {
        
        @include el('main') {
            .section-header {
                margin-bottom: 40px;
            }
        }

        @include el('side') {
            display: block;
            width: 32%;
            /*position: relative;*/
            margin-top: -84px;
            
            .aaa {
                position: relative;
                height: 100vh;
                
                &:before {
                    display: block;
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 58%;
                    background: -moz-linear-gradient(top, rgba(0,88,255,0) 0%, rgba(0,88,255,0.8) 100%);
                    background: -webkit-linear-gradient(top, rgba(0,88,255,0) 0%,rgba(0,88,255,0.8) 100%);
                    background: linear-gradient(to bottom, rgba(0,88,255,0) 0%,rgba(0,88,255,0.8) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000058ff', endColorstr='#0058ff',GradientType=0 );
                }
            }
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            

            .content {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 0 calc(18% - 15px) 89px calc(11.5% - 15px);
                color: #fff;

                .item {
                    padding: 0 15px;
                }

                .main {
                    font-size: 24px;
                    line-height: 1.33;
                    margin-bottom: 35px;
                    font-style: italic;
                }

                .note {
                    font-size: 16px;
                    line-height: 1.375;
                }
            }
        }
        
        .form-note {
            
            @include mod('mobile') {
                display: none;
            }
            
            @include mod('desktop') {
                display: block;
            }
        }
    }
}

//xl: 1200px
@include media-breakpoint-up(xl) {
    
}