//breakpoint 0
@include media-breakpoint-up(xs) {
    .reset-password {
        padding: 56px 12px;

        .icon {
            display: block;
            margin: 0 auto 37px;
        }

        .header__level__2 {
            margin-bottom: 8px;
        }

        .desc {
            font-size: 16px;
            line-height: 1.375;
            margin-bottom: 20px;
        }

        button.submit {
            margin-top: 56px;
            margin-bottom: 24px;
        }
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {
    .reset-password {
        padding: 56px 27px;
    }
}

//lg: 992px
@include media-breakpoint-up(lg) {

}

//xl: 1200px
@include media-breakpoint-up(xl) {

}

//sl: 1440px
@include media-breakpoint-up(sl) {
    
}