//breakpoint 0
@include media-breakpoint-up(xs) {
    .advertisement {
        width: 278px;
        box-shadow: 0 2px 10px rgba(0,0,0, .1);
        transition: 0.3s;

        &:hover {
            box-shadow: 0 0 10px rgba(0,0,0, .5);
        }
        
        .advert__head {
            position: relative;
            
            &:before {
                display: block;
                content: "";
                left: 0;
                right: 0;
                bottom: 0;
                height: 60px;
                position: absolute;
                background: -moz-linear-gradient(top, rgba(0,88,255,0) 0%, rgba(0,88,255,1) 100%);
                background: -webkit-linear-gradient(top, rgba(0,88,255,0) 0%,rgba(0,88,255,1) 100%);
                background: linear-gradient(to bottom, rgba(0,88,255,0) 0%,rgba(0,88,255,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000058ff', endColorstr='#0058ff',GradientType=0 );
            }
            
            .advert__img {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-direction: column;
                flex-direction: column;
                -ms-flex-pack: end;
                justify-content: flex-end;
                position: relative;
                min-height: 160px;
                
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    -o-object-fit: cover;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            
            .advert__label {
                position: absolute;
                top: 15px;
                left: 15px;
                background: #fff;
                font-size: 9px;
                text-transform: uppercase;
                color: #0e5fff;
                padding: 4px 16px;
                font-size: 12px;
                font-weight: 600;
            }
            
            .profil-rank {
                position: absolute;
                bottom: -4px;
                left: 0;
                right: 0;
            }
        }
        
        .advert__content {
            .advert__name {
                padding: 13px 11px 11px;
                border-bottom: 1px solid #DBDBDB;
                font-size: 20px;
                font-weight: 700;
                line-height: 1.35;
                color: #000;
            }
            .location {
                font-size: 18px;
                font-weight: 700;
                padding-left: 25px;
                background: url(/assets/img/location.svg) 0 50% no-repeat;
                color: #000;
            }
            .advert__details {
                padding: 11px;
                border-bottom: 1px solid #DBDBDB;
                display: flex;
                align-content: flex-start;
                justify-content: space-between;
                
                .header {
                    font-size: 14px;
                    color: #acacac;
                    margin-bottom: 8px;
                }
                
                @include el('data') {
                    width: 100%;
                    
                    .date {
                        font-size: 16px;
                        font-weight: 600;
                        color: #000;
                    }
                    
                    .location {
                        font-size: 20px;
                        font-weight: 600;
                        background-position: 0 30%;
                    }
                }
                
                @include el('price') {
                    .price {
                        background: #0058ff;
                        font-size: 20px;
                        color: #fff;
                        border-radius: 4px;
                        padding: 13px 27px;
                        font-weight: 600;
                        
                        span {
                            font-weight: 700;
                            margin-right: 3px;
                        }
                    }
                }
            }
            .advert__skills {
                padding: 11px;
                
                
                .header {
                    font-size: 14px;
                    color: #acacac;
                    margin-bottom: 8px;
                }
            }
        }
        
        @include mod('horiz') {
            width: 100%;
            display: block;
            margin-bottom: 24px;
            
            .advert__head {
                background: #fff;
                
                .advert__img {
                    height: auto;
                    &:after{
                        content: '';
                        position: absolute;
                        z-index: 2;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 54%;
                        background: linear-gradient(to bottom, rgba(0, 0, 255, 0) 0%, rgba(0, 85, 255, 0.01) 1%, rgba(0, 85, 255, 0.02) 2%, rgba(0, 96, 255, 0.03) 3%, rgba(0, 77, 255, 0.04) 4%, rgba(0, 78, 255, 0.05) 5%, rgba(0, 94, 255, 0.07) 7%, rgba(0, 81, 255, 0.08) 8%, rgba(0, 88, 255, 0.1) 10%, rgba(0, 88, 255, 0.11) 11%, rgba(0, 82, 255, 0.12) 12%, rgba(0, 89, 255, 0.15) 15%, rgba(0, 85, 255, 0.16) 16%, rgba(0, 88, 255, 0.19) 19%, rgba(0, 83, 255, 0.2) 20%, rgba(0, 84, 255, 0.23) 23%, rgba(0, 88, 255, 0.35) 35%, rgba(0, 85, 255, 0.36) 36%, rgba(0, 86, 255, 0.99) 99%, rgba(0, 86, 255, 0.37) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000ff', endColorstr='#5e0056ff',GradientType=0 );
                    }
                }
                
                &:before {
                    display: none;
                }
                
                .advert__label {
                    position: absolute;
                    z-index: 3;
                    top: 9px;
                    left: 13px;
                    background-color: #fff;
                    padding: 6px 13px;
                    box-shadow: 0px 0px 16px 0px rgba(0, 87, 255, 0.3);
                    font-size: 12px;
                    line-height: 1;
                    text-transform: uppercase;
                    color: #0056FF;
                    font-weight: 600;
                    letter-spacing: 0.6px;
                }
            }
            
            .advert__content {
                width: 100%;
                background-color: #fff;
                
                .advert__content__row1 {
                    position: relative;
                    padding: 20px 8px 8px;
                    padding-right: 150px;
                    
                    
                    .advert__name {
                        border-bottom: 0;
                        padding: 0;
                        margin-bottom: 8px;
                    }
                    
                    .advert__details__price {
                        padding-top: 8px;
                        text-align: center;
                        position: absolute;
                        top: 0;
                        right: 16px;
                    }
                }
                
                .advert__content__row2 {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 8px;
                    
                    .profil-rank {
                        width: 100%;
                        
                        .profil-rank__name {
                            color: #000;
                        }
                    }
                    
                    .advert__details {
                        width: 100%;
                        border-bottom: none;
                        flex-wrap: wrap;
                        
                    }
                    
                    .advert__skills {
                        width: 100%;
                        flex-basis: 0;
                        flex-grow: 1;
                    }
                }
            }
        }
        
        @include mod('checkout') {
            .advert__content {
                .advert__content__row1 {
                    border-bottom: none;
                    padding-bottom: 10px;
                }
                .advert__content__row2 {
                    .advert__skills {
                        padding: 0 24px 22px 31px;
                        width: 100%;
                        border: none;
                    }
                }
            }
        }
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {
    
}

//lg: 992px
@include media-breakpoint-up(lg) {
    .advertisement {
        @include mod('horiz') {
            display: flex;
            
            .advert__head {
                flex-shrink: 0;
                width: 277px;   
                
                .advert__label {
                    position: absolute;
                    background: #fff;
                    color: #0058FF;
                    margin: 0;
                }
                
                .advert__img {
                    display: block;
                    height: 100%;
                    &:after{
                        display: none;
                    }
                }
            }
            
            .advert__content {
                
                .advert__content__row1 {
                    padding: 22px 24px 22px 12px;
                    border-bottom: 1px solid #DBDBDB;
                    
                    .advert__name {
                        padding-right: 129px;
                    }
                    
                    .advert__details__price {
                        position: absolute;
                        top: 22px;
                        right: 24px;
                        text-align: left;
                        padding-top: 0;
                    }
                }
                
                .advert__content__row2 {
                    display: flex;
                    padding: 0;
                    
                    .profil-rank {
                        width: auto;
                    }
                    
                    .advert__details {
                        width: auto;
                        border-left: 1px solid #DBDBDB;
                    }
                    
                    .advert__skills {
                        border-left: 1px solid #DBDBDB;
                        margin-left: auto;
                        border-top: 1px solid #DBDBDB;
                    }
                }
            }
        }
    }
}

//xl: 1200px
@include media-breakpoint-up(xl) {
    .advertisement {
        @include mod('horiz') {
            
            .advert__content {    
                
                .advert__content__row1 {
                    padding-left: 31px;
                }
                
                .advert__content__row2 {
                    flex-wrap: nowrap;

                    .profil-rank {
                        width: auto;
                        padding-left: 31px;
                    }
                    
                    .advert__details {
                        width: auto;
                        padding: 16px;
                        
                        @include el('data') {
                            .date {
                                font-size: 20px;
                            }
                        }
                    }
                    
                    .advert__skills {
                        padding: 16px;
                        width: auto;
                        border-top: none;
                    }
                }
            }
        }
    }
}



@media only screen and (max-width: 991px) {


    .advertisement--horiz {
        .advert__content {
            .advert__content__row1 {
                padding-left: 11px;
                padding-right: 11px;

                .advert__name {
                    padding-right: 140px
                }
            }
            .advert__content__row2 {
                padding: 0;

                .profil-rank {
                    width: 50%;
                    border-top: 1px solid #DBDBDB;
                    border-right: 1px solid #DBDBDB;
                    padding-top: 19px;
                    padding-bottom: 19px;
                }

                .advert__skills {
                    order: -1;
                    flex-basis: inherit;
                    white-space: nowrap;
                    overflow: auto;
                    padding-top: 27px;

                    .header {
                        position: absolute;
                        transform: translateY(-27px);
                    }
                }

                .advert__details {
                    width: 50%;
                    border-top: 1px solid #DBDBDB;
                    padding-top: 19px;
                    padding-bottom: 19px;
                }
            }
        }
    } 

    .profile {
        .advertisement--horiz {
            .advert__content {
                .advert__content__row2 {
    
                    .profil-rank {
                        width: 100%;
                        border-top: 1px solid #DBDBDB;
                        border-right: none;
                        padding-top: 19px;
                        padding-bottom: 19px;
                    }
    
                    .advert__skills {
                        order: -1;
                        flex-basis: inherit;
                        white-space: nowrap;
                        overflow: auto;
                        padding-top: 27px;
    
                        .header {
                            position: absolute;
                            transform: translateY(-27px);
                        }
                    }
    
                    .advert__details {
                        width: 50%;
                        border-top: 1px solid #DBDBDB;
                        padding-top: 19px;
                        padding-bottom: 19px;
                    }
                }
            }
        } 
    }

}

@media only screen and (max-width: 480px) {


    .advertisement--horiz {
        .advert__content {
            .advert__content__row2 {
                .profil-rank {
                    width: 100%;
                    
                    border-right: none;
                }

                .advert__details {
                    width: 100%;
                    
                }
            }
        }
    } 

}