//breakpoint 0
@include media-breakpoint-up(xs) {

    .banner{
        display: flex;
        align-items: flex-end;
        position: relative;
        min-height: 205px;

        @include el('img'){
            position: absolute;
            z-index: 1;
            top:0;
            left:0;
            object-fit: cover;
            width:100%;
            height:100%;
            overflow: hidden;
            img{
                position: absolute;
                z-index: 1;
                object-fit: cover;
                width:100%;
                height:100%;
                top:0;
                left:0;
            }
            &:after{
                content:'';
                position: absolute;
                z-index: 2;
                bottom: 0;
                left:0;
                width:100%;
                height:54%;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0000ff+0,0055ff+1,0055ff+2,0060ff+3,004dff+4,004eff+5,005eff+7,0051ff+8,0058ff+10,0058ff+11,0052ff+12,0059ff+15,0055ff+16,0058ff+19,0053ff+20,0058ff+23,0054ff+23,0058ff+35,0055ff+36,0056ff+100&0+0,0.99+99,0.37+100 */
                background: -moz-linear-gradient(top, rgba(0,0,255,0) 0%, rgba(0,85,255,0.01) 1%, rgba(0,85,255,0.02) 2%, rgba(0,96,255,0.03) 3%, rgba(0,77,255,0.04) 4%, rgba(0,78,255,0.05) 5%, rgba(0,94,255,0.07) 7%, rgba(0,81,255,0.08) 8%, rgba(0,88,255,0.1) 10%, rgba(0,88,255,0.11) 11%, rgba(0,82,255,0.12) 12%, rgba(0,89,255,0.15) 15%, rgba(0,85,255,0.16) 16%, rgba(0,88,255,0.19) 19%, rgba(0,83,255,0.2) 20%, rgba(0,84,255,0.23) 23%, rgba(0,88,255,0.35) 35%, rgba(0,85,255,0.36) 36%, rgba(0,86,255,0.99) 99%, rgba(0,86,255,0.37) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(0,0,255,0) 0%,rgba(0,85,255,0.01) 1%,rgba(0,85,255,0.02) 2%,rgba(0,96,255,0.03) 3%,rgba(0,77,255,0.04) 4%,rgba(0,78,255,0.05) 5%,rgba(0,94,255,0.07) 7%,rgba(0,81,255,0.08) 8%,rgba(0,88,255,0.1) 10%,rgba(0,88,255,0.11) 11%,rgba(0,82,255,0.12) 12%,rgba(0,89,255,0.15) 15%,rgba(0,85,255,0.16) 16%,rgba(0,88,255,0.19) 19%,rgba(0,83,255,0.2) 20%,rgba(0,84,255,0.23) 23%,rgba(0,88,255,0.35) 35%,rgba(0,85,255,0.36) 36%,rgba(0,86,255,0.99) 99%,rgba(0,86,255,0.37) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(0,0,255,0) 0%,rgba(0,85,255,0.01) 1%,rgba(0,85,255,0.02) 2%,rgba(0,96,255,0.03) 3%,rgba(0,77,255,0.04) 4%,rgba(0,78,255,0.05) 5%,rgba(0,94,255,0.07) 7%,rgba(0,81,255,0.08) 8%,rgba(0,88,255,0.1) 10%,rgba(0,88,255,0.11) 11%,rgba(0,82,255,0.12) 12%,rgba(0,89,255,0.15) 15%,rgba(0,85,255,0.16) 16%,rgba(0,88,255,0.19) 19%,rgba(0,83,255,0.2) 20%,rgba(0,84,255,0.23) 23%,rgba(0,88,255,0.35) 35%,rgba(0,85,255,0.36) 36%,rgba(0,86,255,0.99) 99%,rgba(0,86,255,0.37) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000ff', endColorstr='#5e0056ff',GradientType=0 ); /* IE6-9 */
            }
        }
        
        @include el('cat'){
            position: absolute;
            z-index: 3;
            top:9px;
            left:13px;
            background-color:#fff;
            padding:6px 13px;
            box-shadow: 0px 0px 16px 0px rgba(0, 87, 255, 0.3);
            font-size:12px;
            line-height: 1;
            text-transform: uppercase;
            color:#0056FF;
            font-weight: 600;
            letter-spacing: 0.6px;
        }

        .container{
            position: relative;
            margin-top:auto;
            margin-bottom: 0;
        }

        @include el('content'){
            position: relative;
            z-index: 1;
            padding-bottom: 9px;
        }

        @include el('header'){
            font-size: 16px;
            line-height: 22px;
            font-weight: 700;
            color:#fff;
        }
    
    }

}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {
    .banner{
        align-items: center;
        padding:65px 0;
        min-height:147px;

        @include el('img'){
            &:after{
                content:'';
                height:100%;
                background: rgba(0,86,255,0.55);
                filter: none;
            }
        }

        @include el('content'){
            padding-bottom: 0;
        }
    
        @include el('header'){
            font-size: 32px;
            line-height: 43px;
        }
    
    }
}

//xl: 1200px
@include media-breakpoint-up(xl) {

    

}