//breakpoint 0
@include media-breakpoint-up(xs) {
    
    .blue__header {
        position: relative;
        height: 200px;
        
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 54%;
            background: linear-gradient(to bottom, rgba(0, 0, 255, 0) 0%, rgba(0, 85, 255, 0.01) 1%, rgba(0, 85, 255, 0.02) 2%, rgba(0, 96, 255, 0.03) 3%, rgba(0, 77, 255, 0.04) 4%, rgba(0, 78, 255, 0.05) 5%, rgba(0, 94, 255, 0.07) 7%, rgba(0, 81, 255, 0.08) 8%, rgba(0, 88, 255, 0.1) 10%, rgba(0, 88, 255, 0.11) 11%, rgba(0, 82, 255, 0.12) 12%, rgba(0, 89, 255, 0.15) 15%, rgba(0, 85, 255, 0.16) 16%, rgba(0, 88, 255, 0.19) 19%, rgba(0, 83, 255, 0.2) 20%, rgba(0, 84, 255, 0.23) 23%, rgba(0, 88, 255, 0.35) 35%, rgba(0, 85, 255, 0.36) 36%, rgba(0, 86, 255, 0.99) 99%, rgba(0, 86, 255, 0.37) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000ff', endColorstr='#5e0056ff',GradientType=0 );
        }
        
        .content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            
            h1 {
                font-size: 34px;
                color: #fff;
                font-weight: 700;
            }
            
            .note {
                font-size: 14px;
                color: #fff;
            }
        }
    }
    
    
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {

    .blue__header{
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            background: rgba(0, 86, 255, 0.55);
        }
    }

}

//xl: 1200px
@include media-breakpoint-up(xl) {
    .blue__header {

        .content {  

            h1 {
                font-size: 48px;
            }

            .note {
                font-size: 16px;
            }
        }

    }
}