//breakpoint 0
@include media-breakpoint-up(xs) {
    .breadcrumbs {
        padding-left: 0;
        display: flex;
        list-style: none;
        margin: 15px 0 38px;
        flex-wrap: wrap;
        
        li {
            padding-right: 40px;
            position: relative;
            margin-bottom: 10px;
            
            &:after {
                position: absolute;
                right: 13px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 8px;
                content: "\e903";
                font-family: 'icomoon';
            }
            
            &:last-child {
                &:after {
                    display: none;
                }
            }
            
            a {
                &:hover {
                    text-decoration: underline;    
                }
            }
        }
        
        li, a {
            font-size: 14px;
            color: #9D9D9D;
        }
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {
    
}

//lg: 992px
@include media-breakpoint-up(lg) {
    
}

//xl: 1200px
@include media-breakpoint-up(xl) {
    
}
