.btn {
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    padding: 0 17px;
    background: #0056FF;
    display: inline-flex;
    align-items: center;
    transition: $time;
    border: 1px solid #0056FF;
    border-radius: 4px;
    height: 50px;
    text-decoration: none;

    .icon + .txt {
        margin-left: 14px;
    }
    
    .txt + .icon {
        margin-left: 14px;
    }

    i{
        margin-right:10px;
    }
    
    &:hover {
        background: #ed1d58;
        color: #fff;
        border-color: #ed1d58;
    }
    
    @include mod('red') {
        background: #ed1d58;
        border-color: #ed1d58;
        
        &:hover {
            color: #fff;
            background: #0056FF;
            border-color: #0056FF;
        }
    }

    @include mod('red2'){
        background-color:#fff;
        color:#EC1D57;
        border:1px solid #EC1D57;

        &:hover{
            color:#fff;
            background-color: #EC1D57;
        }

    }
    
    @include mod('white') {
        background: #fff;
        border: 1px solid #0056FF;
        color: #0056FF;
        
        .icon {
            font-size: 24px;
            
            &:before {
                color: #0056FF;
            }
        }
        
        &:hover {
            color: #fff;
            background: #0056FF;
            border-color: #0056FF;
            
            .icon {
                &:before {
                    color: #fff;
                }
            }
        }
    }

    @include mod('full'){
        width:100%;
    }

}

.btn-wide {
    width: 100%;
    justify-content: center;
    margin-bottom: 23px;
}  

.btn-collapse{
    border: 0;
    background: none;
    padding: 0;
    outline: 0;
    color: #0057FF;
    transition: color $time ease-in-out;

    &:hover{
        color:#ed1d58;
    }

}
