//breakpoint 0
@include media-breakpoint-up(xs) {
    .category {
        background: #fff;
        box-shadow: 0 2px 37px rgba(0,0,0, .1);
        padding: 34px 29px;
        display: flex;
        
        .icon-box {
            width: 42px;
            flex-shrink: 0;
            margin-right: 27px;
            
            img {
                max-width: 100%;
            }
        }
        
        .content-box {
            .header {
                font-size: 20px;
                font-weight: 600;
                color: #000;
                margin-bottom: 6px;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .number-box {
                font-size: 14px;
                font-weight: 600;
                color: #9d9d9d;
                position: relative;
                padding-left: 21px;
                white-space: nowrap;
                
                &:before {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: "";
                    width: 16px;
                    height: 16px;
                    border-radius: 8px;
                    background: rgba(0,208,0, 0.2);
                }
                
                &:after {
                    display: block;
                    position: absolute;
                    left: 4px;
                    top: 4px;
                    content: "";
                    width: 8px;
                    height: 8px;
                    border-radius: 8px;
                    background: rgba(0,208,0, 1);
                }
                
                .number {
                    display: inline-block;
                    margin-right: 4px;
                }
            }
        }
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {

}

//xl: 1200px
@include media-breakpoint-up(xl) {
    
}