//breakpoint 0
@include media-breakpoint-up(xs) {

    .chosen-container {
        width: 100% !important;
        
        .chosen-single {
            background: none !important;
            border: none;
            box-shadow: none;
            padding-left: 0;
            font-size: 16px;
        }
        
        &.chosen-container-single .chosen-single div {
            margin-right: 8px;
        }
        
        &.chosen-container-single .chosen-single div b {
            background: url(../img/arrow_down.svg) 50% 50% no-repeat;
        }
        
        &.chosen-container-single .chosen-search input[type="text"] {
            border-color: #DBDBDB;
        }
        
        &.chosen-container-active.chosen-with-drop .chosen-single {
            border-color: #DBDBDB;
        }
        
        &.chosen-container-single .chosen-drop {
            border-color: #DBDBDB;
        }
        
        &.chosen-with-drop {
            .chosen-single {
                padding-left: 8px;
            }
        }
        
        .chosen-results {
            font-size: 16px;
            
            .active-result {
                &.highlighted {
                    background: #0058ff !important;
                }
            }
        }
    }

}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {

}

//xl: 1200px
@include media-breakpoint-up(xl) {

}