//breakpoint 0
@include media-breakpoint-up(xs) {
    .course-menu{

        background-color:#fff;
    
        ul{
    
            list-style: none;
            padding:0;
            margin:0;
            display: flex;
            align-items: center;
    
            li{
    
                margin-right:52px;
                &:last-child{
                    margin-right:0;
                }
    
                a{
    
                    position: relative;
                    display: block;
                    color:#707070;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 58px;
                    text-decoration: none;
    
                    &:after{
                        content:'';
                        display:block;
                        position: absolute;
                        bottom: -1px;
                        left:50%;
                        width:0;
                        height:2px;
                        transform: translateX(-50%);
                        transition: all .3s ease-in-out;
                        background-color:#0056FF;
                    }
    
                    &:hover,
                    &:focus{
                        text-decoration: none;
                        color:#000;
                        &:after{
                            width:100%;
                        }
                    }
    
                    &.active{
                        color:#000;
                        &:after{
                            width:100%;
                        }
                    }
                }
            }
        }
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {

}

//xl: 1200px
@include media-breakpoint-up(xl) {

}

//sl: 1440px
@include media-breakpoint-up(sl) {
    
}