//breakpoint 0
@include media-breakpoint-up(xs) {

    .course-desc-header{
        color:$blue;
    }

    .course-desc{

        h4{
            margin-bottom: 0;
            font-size: 14px;
        }
    
        @include el('content'){
            padding:8px;
        }

        @include el('text'){
            .readmore{
                font-size:14px;
                color:$blue;
                &:hover{
                    color:$red;
                }
            }
        }
    
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}


//lg: 992px
@include media-breakpoint-up(lg) {

    .course-desc-header{
        color:#000;
    }

    .course-desc{

        h4{
            margin-bottom: 18px;
            font-size: 20px;
        }
    
        @include el('img'){
            position: relative;
            height:271px;
    
            img{
                object-fit: cover;
                width: 100%;
                height:100%;
            }
        }
    
        @include el('cat'){
            position: absolute;
            top:46px;
            left:44px;
            background-color:#fff;
            padding:6px 13px;
            box-shadow: 0px 0px 16px 0px rgba(0, 87, 255, 0.3);
            font-size:12px;
            line-height: 1;
            text-transform: uppercase;
            color:#0056FF;
            font-weight: 600;
            letter-spacing: 0.6px;
        }
    
        @include el('content'){
            padding:21px 44px 52px;
        }

        @include el('text'){
            .readmore{
                font-size:16px;
            }
        }
    
    }
}