//breakpoint 0
@include media-breakpoint-up(xs) {
    .course-when{
        display:flex;
        align-items: flex-start;
        font-size: 14px;
        font-weight: 600;
        line-height: 28px;
        margin-top:-9px;
    
        i{
            vertical-align: top;
            margin-bottom: auto;
            margin-right:13px;
            font-size: 23px;
        }
    
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {
    .course-when{
        font-size: 20px;
        line-height: 38px;
        margin-top:0;
    
        i{
            margin-top:5px;
            margin-right:18px;
            font-size: 25px;
        }
    
    }
}