//breakpoint 0
@include media-breakpoint-up(xs) {
    .course-nav{
        height:45px;
        background-color:#fff;
        display:flex;
        align-items: center;
        justify-content: flex-end;

        .hamburger{
            margin-left:auto;
            margin-right:16px;
            margin-top:10px;
            outline: 0;
        }

    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {

}

//xl: 1200px
@include media-breakpoint-up(xl) {

}