//breakpoint 0
@include media-breakpoint-up(xs) {
    .page-footer {
        background-color: #202c3e;
        padding-top: 35px;
        
        .row-1 {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 30px;
            
            .header {
                display: inline-block;
                font-size: 18px;
                color: #fff;
                margin-bottom: 22px;
                position: relative;
                padding-right: 26px;
                
            }
            
            .logo-footer {
                width: 124px;
                order: -2;
                margin-bottom: 32px;
            }
            
            .footer-links {
                display: table;
                margin: 0 auto;
                
                .col {
                    text-align: center;
                    
                    .header {
                        &.active {
                            &:after {
                                transform: translateY(-50%) rotate(180deg);
                            }
                        }

                        &:after {
                            content: "\E902";
                            font-family: 'icomoon';
                            position: absolute;
                            right: 0;
                            font-size: 8px;
                            top: 50%;
                            transform: translateY(-50%);
                        }    
                    }
                    
                    .list {
                        padding-bottom: 30px;
                        margin: 0;
                        list-style: none;
                        padding-left: 0;

                        li {
                            margin-bottom: 14px;
                            
                            &:last-child {
                                margin-bottom: 0;
                            }
                            a {
                                color: rgba(255,255,255, .3);
                                font-size: 14px;
                                transition: 0.3s;

                                &:hover {
                                    text-decoration: none;
                                    color: rgba(255,255,255, 1);
                                }
                            }
                        }
                    }
                }
            }
            
            .socials-footer {
                order: -1;
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 42px;
                
                .header {
                    display: none;
                }
                
                .content {
                    display: flex;
                    
                    .icon-box {
                        display: flex;
                        width: 60px;
                        height: 60px;
                        margin-right: 13px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 4px;
                        background-color: #0057ff;
                        transition: 0.3s;
                        
                        .icon {
                            color: #fff;
                            font-size: 20px;
                        }
                        
                        &:hover {
                            text-decoration: none;
                            background-color: #ed1d57;
                        }
                    }
                }
            }
        }
        
        .row-2 {
            display: block;
            padding-bottom: 30px;
            text-align: center;
            
            .copy {
                color: #fff;
                font-size: 13px;
                margin-bottom: 15px;
                display: block;
            }
            
            .page-maker {
                
                .txt {
                    color: #fff;
                    font-size: 13px;
                    margin-right: 20px;    
                }
            }
        }
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {
    .page-footer {
        
        .row-1 {
            flex-wrap: nowrap;
            justify-content: flex-start;
            margin-bottom: 61px;

            .header {
                font-size: 20px;
                margin-bottom: 16px;
            }
            
            .logo-footer {
                order: 0;
                margin-right: 15.8%;
                margin-bottom: 0;
            }
            
            .socials-footer {
                display: block;
                width: auto;
                order: 0;
                margin-bottom: 0;
                
                .header {
                    display: block;
                    
                    
                }
            }
            
            .footer-links {
                flex-grow: 1;
                display: flex;
                
                .col {
                    text-align: left;
                    margin-bottom: 0;
                    
                    .header {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
        
        .row-2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .page-maker {
                display: flex;
                align-items: center;
            }
            
            .copy {
                margin-bottom: 0;
            }
        }
    }
}

//xl: 1200px
@include media-breakpoint-up(xl) {
    
}
