//breakpoint 0
@include media-breakpoint-up(xs) {
    
    .form {
        
        .fields {
            display: block;
            padding-left: 0;
            margin-bottom: 20px
        }
        
        .form__btn {
            display: inline-block;
            border: 1px solid #0057FF;
            border-radius: 3px;
            font-size: 14px;
            font-weight: 700;
            color: #0057FF;
            padding: 10px 15px;
            min-width: 150px;
            text-align: center;
            background-color: #fff;
            transition: 0.3s;
            cursor: pointer;
            
            &:hover {
                background-color: #0057FF;
                color: #fff;
            }
        }
        
        span.error-txt {
            display: block;
            width: 100%;
            position: absolute;
            font-size: 12px;
            color: #EC1D57;
        }
        
        .error-field {
            border-color: #EC1D57;
        }
        
        .form__box {
            margin-bottom: 23px;
            
            .label-box {
                font-size: 16px;
                margin-bottom: 8px;
            }
            
            &.error {
                input,
                textarea {
                    border-color: #EC1D57;
                }
            }
        }
        
        
        @include el('row') {
            display: block;
            margin-bottom: 24px;
            
            .label-box {
                display: block;
                padding-right: 17px;
                font-size: 16px;
                position: relative;
                padding-left: 21px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            
            .error-txt {
                display: none;
            }
            
            .field-box {
                display: block;
                position: relative;
                
                input {
                    width: 100%;
                }
            }
            
            &.error {
                input {
                    border-color: red;
                }
                
                .error-txt {
                    display: block;
                }
            }
        
            &.required {
                font-size: 16px;
                position: relative;
                
                .label-box {
                    
                    &:before {
                        position: absolute;
                        display: block;
                        content: "";
                        left: 0;
                        top: 4px;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background: rgba(236, 29, 87, .25)
                    }

                    &:after {
                        position: absolute;
                        display: block;
                        content: "";
                        left: 4px;
                        top: 8px;
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        background: rgba(236, 29, 87, 1)
                    }
                }
            }
        
            
        
        
    }
        
        input,
        textarea,
        select {
            width: 100%;
            border: 1px solid #DBDBDB;
            border-radius: 3px;
            padding: 10px;
            font-size: 16px;
            outline: none;
            
            &:focus {
                border-color: #0056FF;
            }
        } 
    
        .checkbox-ctn {
            display: flex;
            align-items: center;
            margin-bottom: 25px;
            cursor: pointer;

            .field-box {
                flex-shrink: 0;
                width: 25px;
                height: 25px;
                margin-right: 15px;
                position: relative;

                .state {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: #fff;
                    border-radius: 3px;
                    border: 1px solid #DBDBDB;
                }

                input:checked ~ .state {
                    background: #0056FF;
                    border: 1px solid #0056FF;
                }

                input:checked ~ .state:before {
                    content: "\e912";
                    font-family: 'icomoon';
                    color: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }
            }

            .txt-box {
                font-size: 16px;
                line-height: 1.375;
            }
        }
        
    }
    
    
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {
    .form {
        
        .fields {
            display: table;
            border-collapse: separate;
            border-spacing: 0 20px;
        }
        
        @include el('row') {
            display: table-row;
            margin-bottom: 0;
            
            .label-box {
                display: table-cell;
                vertical-align: top;
                padding-bottom: 0;
            }
            
            .field-box {
                display: table-cell;
                width: 272px;
            }
        }
    }
}

//lg: 992px
@include media-breakpoint-up(lg) {

}

//xl: 1200px
@include media-breakpoint-up(xl) {
    
}