//breakpoint 0
@include media-breakpoint-up(xs) {

    .highlight-box{
        position: relative;
        background-color:$blue;
        margin-left: - $grid-gutter-width/2;
        margin-right: - $grid-gutter-width/2;
        background:#0056FF;
        color:#fff;
        padding-bottom: 22px;
        margin-bottom: 21px;
        text-align: center;

        &:before{
            content:'';
            display:block;
            width:240px;
            height:122px;
            background:#0056FF url('../img/highlight-img-mobile.png') no-repeat;
        }

        @include el('inner'){
            display:inline-flex;
            flex-direction: column;
        }

        @include el('title'){
            margin-top:14px;
            margin-bottom: 14px;
            font-size:20px;
            line-height: 27px;
            font-weight: 600;
        }

        @include el('list'){
            list-style: none;
            padding:0;
            margin:0;

            li{
                font-size: 16px;
                line-height: 22px;
                font-weight: 600;
                display:flex;
                align-items: center;
                margin-bottom: 14px;
                &:last-child{
                    margin-bottom: 0;
                }

                img{
                    margin-right:14px;
                }

            }

        }

    }

}

//sm
@include media-breakpoint-up(sm) {
    .highlight-box{

        margin-left: auto;
        margin-right: auto;

    }
}

//md: 768px
@include media-breakpoint-up(md) {

}


//lg: 992px
@include media-breakpoint-up(lg) {

    .highlight-box{
        position: relative;
        padding-bottom: 0;
        height:122px;
        background-color:$blue;
        text-align: left;
        align-items: center;
        display: flex;
        margin-bottom: 45px;

        &:before{
            content:'';
            display:block;
            background:url('../img/mask.png');
            position: absolute;
            z-index: 1;
            width:100%;
            height:100%;
            top:0;
            left:0;
        }

        &:after{
            content:'';
            display:block;
            background:url('../img/highlight-img-desktop.png');
            position: absolute;
            z-index: 2;
            top:7px;
            left:25px;
            width:147px;
            height:107px;
        }

        @include el('inner'){
            margin-left:250px;
        }

        @include el('title'){
            margin-top:0;
            margin-bottom:5px;
            font-size:24px;
            line-height: 32px;
            text-align: left;
        }

        @include el('list'){
            display:flex;
            flex-wrap: wrap;

            li{
                margin-bottom: 0;
                margin-right:30px;
                width:100%;
                flex: 0 0 100%;
                &:last-child{
                    margin-right:0;
                }
            }

        }

    }

}


//xl
@include media-breakpoint-up(xl) {

    .highlight-box{
        @include el('title'){
            margin-bottom: 14px;
        }

        @include el('list'){
            display:flex;
            flex-wrap: nowrap;

            li{
                width:auto;
                flex:0 0 auto;
            }

        }
    }
    
}