//breakpoint 0
@include media-breakpoint-up(xs) {
    .info-box {
        font-size: 14px;
        color: #9E9E9E;
        margin-bottom: 15px;
        
        .icon {
            float: left;
            margin-right: 6px;
            margin-top: 2px;
        }
        
        .txt {
            overflow: hidden;
        }
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {

}

//xl: 1200px
@include media-breakpoint-up(xl) {
    
}
