//breakpoint 0
@include media-breakpoint-up(xs) {
    .lclz{

        display: flex;
        align-items: center;
        color:#fff;
        margin-top:5px;
    
        @include el('header'){
            font-size: 12px;
            line-height: 16px;
    
            i{
                margin-right:5px;
            }
    
            @include mod('bigger'){
                font-size: 14px;
                font-weight: 600;
            }
        }
    
        @include mod('black'){
            color:#000;
        }

        @include mod('gray'){
            color:#707070;
            margin-top:0;
        }

        @include mod('mb'){
            margin-bottom: 11px;
        }
    
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}


//lg: 992px
@include media-breakpoint-up(lg) {
    .lclz{

        margin-top:15px;
    
        @include el('header'){
            font-size: 16px;
            line-height: 1;

            @include mod('bigger'){
                font-size: 20px;
            }
        }

        @include mod('mb'){
            margin-top:0;
            margin-bottom: 30px;
        }
    
    }
}