//breakpoint 0
@include media-breakpoint-up(xs) {
    .nav {
        display: flex;
        justify-content: space-between;
        padding: 13px 12px;
        box-shadow: 0 3px 4px rgba(0,0,0, 0.09);
        position: relative;
        z-index: 10;
        background: #fff;
        z-index: 1002;
        
        @include el('side'){
            
            @include mod('left'){
                
                display: flex;
                align-items: center;
                
                a.logo {
                    margin-right: 15px;
                    width: 95px;
                    display: inline-block;
                    border-right: 1px solid #f0f0f0;
                    padding-right: 15px;
                    flex-shrink: 0;
                }
                
                select {
                    width: 110px;
                    border: 1px solid #DBDBDB;
                    padding: 10px;
                    font-size: 12px;
                    position: relative;
                    background: url(../img/arrow_down.svg) calc(100% - 10px) 50% no-repeat;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                }
                
                .chosen-container {
                    width: 135px !important;
                    
                    .chosen-single {

                        span {
                            font-weight: 700;
                            font-size: 16px;
                        }
                        
                        div {
                            width: 24px;
                        }
                        
                    }
                }
            }
            
            @include mod('right'){
                display: none;
            }
            
        }
        
        .btn-login {
            font-size: 14px;
            color: #fff;
            background: #0057FF;
            padding: 5px 12px;
            display: flex;
            align-items: center;
        }
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {
    .nav {
        
        @include el('side'){
            
            @include mod('left'){
                
                select {
                    font-size: 14px;
                    width: 135px;
                }
            }
        }
    }
}

//md: 768px
@include media-breakpoint-up(md) {
    .nav {
        padding: 15px 86px 15px 61px;
        
        
        @include el('side') {
            
            @include mod('left'){
                
                a.logo {
                    width: auto;
                    margin-right: 30px;
                    border-right: none;
                    padding-right: 0;
                }
            }
            
            @include mod('right'){
                
                display: flex;
                align-items: center;
                
                .notify {
                    margin-right: 53px;
                    position: relative;
                    
                    @include el('num'){
                        display: block;
                        position: absolute;
                        top: -6px;
                        right: -9px;
                        width: 25px;
                        height: 25px;
                        background: rgba(237, 29, 88, 0.38);
                        border-radius: 50%;
                        text-align: center;
                        line-height: 25px;
                        font-size: 12px;
                        color: #fff;
                        z-index: 1;
                        font-weight: 700;
                        
                        &:before {
                            position: absolute;
                            display: block;
                            content: "";
                            left: 4px;
                            top: 4px;
                            right: 4px;
                            bottom: 4px;
                            background: rgba(237, 29, 88, 1);
                            border-radius: 50%;
                            z-index: -2;
                        }
                    }
                    
                }
                
                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    overflow: hidden;
                    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        
        .btn-login {
            display: none;
        }
    }
}

//lg: 992px
@include media-breakpoint-up(lg) {
    
}

//xl: 1200px
@include media-breakpoint-up(xl) {
    
}
