//breakpoint 0
@include media-breakpoint-up(xs) {
    .organizer{

        @include el('inner'){
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding:16px 8px;
        }
    
        @include el('info'){
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        @include el('img'){
            width:82px;
            height:82px;
            border-radius: 50%;
            overflow: hidden;
            margin-right:17px;
            box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.1);
        }
    
        @include el('name'){
            font-size:20px;
            line-height: 26px;
            font-weight: 600;
        }
    
        @include el('text-m'){
            padding:0 8px 12px;
            p{
                margin-bottom: 0;
            }
            .readmore{
                font-size: 12px;
                i{
                    font-size: 10px;
                }
            }
        }

        @include el('btns'){
            width:100%;
            margin-top:40px;
            .tooltipster{
                margin-bottom: 24px;
            }
        }
    
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {
    .organizer{

        @include el('inner'){
            display:flex;
            flex-wrap: wrap;
            flex-direction: row;
            padding:0;
        }
    
        @include el('item'){
            display:flex;
            align-items: center;
            justify-content: center;
            flex: 1 1 0;
            padding:28px 23px;
            border-bottom: 1px solid #ddd;
            border-right:1px solid #ddd;
            &:last-child{
                border-right:0;
            }
        }
    
        @include el('info'){
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        @include el('img'){
            width:82px;
            height:82px;
            border-radius: 50%;
            overflow: hidden;
            margin-right:17px;
            box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.1);
        }
    
        @include el('name'){
            font-size:20px;
            line-height: 26px;
            font-weight: 600;
        }
    
        @include el('text'){
            padding: 31px 40px 26px;
            p{
                margin-bottom: 0;
            }
        }

        @include el('btns'){
            margin-top:0;
        }
    
    }
}