//breakpoint 0
@include media-breakpoint-up(xs) {
    .pagination {
    
        display: flex;
        padding-left: 0;
        list-style: none;
        border-radius: 0.25rem;
        
        .page-item {
            
            &.disabled {
                opacity: 0;
            }
            
            .page-link {
                background: none;
                font-size: 16px;
                display: flex;
                align-items: center;
                border: none;
                color: #000;
                padding: 5px 10px;
                cursor: pointer;
                text-decoration: none;
                
                &:hover,
                &:focus {
                    outline: none;  
                    color: #0058ff;
                }
                
                &.page-link--active {
                    position: relative;
                    color: #0058ff;
                    
                    &:after {
                        display: block;
                        content: "";
                        position: absolute;
                        bottom: 2px;
                        left: 6px;
                        right: 6px;
                        height: 2px;
                        background: #0058ff;
                    }
                }
                
                .icon {
                    font-size: 12px;
                }
                
                .icon-arrow-right {
                    margin-left: 12px;
                }
                
                .icon-arrow-left {
                    margin-right: 12px;
                }
            }
            
        }

    } 

}

//md: 768px
@include media-breakpoint-up(md) {

}

//xl: 1200px
@include media-breakpoint-up(xl) {
    
}