//breakpoint 0
@include media-breakpoint-up(xs) {
    .price-box{
        padding:15px 8px;
    
        h4{
            line-height: 1;
            margin-bottom: 20px;
        }
    
        @include el('value'){
            display:flex;
            align-items: center;
            justify-content: center;
            background-color:#0058FF;
            font-size: 20px;
            line-height: 1;
            color:#fff;
            padding:15px;
        }
    
        @include el('list-header'){
            font-size: 14px;
            line-height: 19px;
            margin-top:17px;
            margin-bottom: 10px;
        }
    
        @include el('list'){
    
            list-style: none;
            margin:0;
            margin-bottom: 10px;
            padding:0;
    
            li{
    
                display:flex;
                align-items: center;
                position: relative;
                font-size: 14px;
                line-height: 30px;
                &:last-child{
                    margin-bottom: 0;
                }

                img{
                    margin-right:13px;
                    display: block;
                }
    
            }
        }
    
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}


//lg: 992px
@include media-breakpoint-up(lg) {

    .price-box{
        padding:30px 30px 40px;
    
        @include el('value'){
            font-size: 20px;
            padding:10px;
        }
    
        @include el('list-header'){
            font-size: 16px;
            line-height: 1;
            margin-top:25px;
            margin-bottom: 20px;
        }
    
        @include el('list'){
    
            list-style: none;
            margin:0;
            margin-bottom: 25px;
            padding:0;
    
            li{
    
                display:flex;
                align-items: center;
                position: relative;
                font-size: 16px;
                &:last-child{
                    margin-bottom: 0;
                }
    
            }
        }
    
    }

}