//breakpoint 0
@include media-breakpoint-up(xs) {
    .profil-rank {
        display: flex;
        align-items: center;
        padding-left: 12px;
        padding-right: 12px;
        
        @include el('img') {
            width: 64px;
            height: 64px;
            border-radius: 32px;
            overflow: hidden;
            margin-right: 13px;
            flex-shrink: 0;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        @include el('content') {
            
        }
        
        @include el('name') {
            font-size: 16px;
            font-weight: 600;
            color: #fff;
        }
        
        @include el('rank') {
            
            .stars {
                display: flex;
                
                span {
                    display: block;
                    flex-shrink: 0;
                    width: 16px;
                    height: 16px;
                    margin-right: 2px;
                    background: url(../img/star1.0.svg) 50% 50%/cover no-repeat;
                }
                
                &.five {
                    span {
                        background-image: url(../img/star1.0.svg);
                    }
                }
                
                &.four-and-half {
                    span:last-child {
                        background-image: url(../img/star0.5.svg);
                    }
                }
                
                &.four {
                    span:last-child {
                        background-image: url(../img/star0.svg);
                    }
                }
                &.three-and-half {
                    span:last-child {
                        background-image: url(../img/star0.svg);
                    }
                    span:nth-child(4) {
                        background-image: url(../img/star0.5.svg);
                    }
                }
                &.three {
                    span:last-child,
                    span:nth-child(4){
                        background-image: url(../img/star0.svg);
                    }
                }
                &.two-and-half {
                    span:last-child,
                    span:nth-child(4){
                        background-image: url(../img/star0.svg);
                    }
                    span:nth-child(3) {
                        background-image: url(../img/star0.5.svg);
                    }
                }
                &.two {
                    span:last-child,
                    span:nth-child(4),
                    span:nth-child(3) {
                        background-image: url(../img/star0.svg);
                    }
                }
                &.one-and-half {
                    span:last-child,
                    span:nth-child(4),
                    span:nth-child(3){
                        background-image: url(../img/star0.svg);
                    }
                    span:nth-child(2) {
                        background-image: url(../img/star0.5.svg);
                    }
                }
                &.one {
                    span:last-child,
                    span:nth-child(4),
                    span:nth-child(3),
                    span:nth-child(2){
                        background-image: url(../img/star0.svg);
                    }
                }
                &.half {
                    span:last-child,
                    span:nth-child(4),
                    span:nth-child(3),
                    span:nth-child(2){
                        background-image: url(../img/star0.svg);
                    }
                    span:nth-child(1) {
                        background-image: url(../img/star0.5.svg);
                    }
                }
            }
            
        }
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {

}

//xl: 1200px
@include media-breakpoint-up(xl) {
    
}
