//breakpoint 0
@include media-breakpoint-up(xs) {

    .box-header--organizer-m{
        margin-bottom: 12px;
    }

    .rating-box{
        position: relative;
        z-index: 2;
        display:flex;
        line-height: 1;
        align-items: center;
    
        @include el('thumb'){
            position: relative;
            margin-right:17px;
            width:67px;
            height:67px;
            flex: 0 0 67px;
            border-radius: 50%;
            overflow: hidden;
    
            img{
                border-radius: 50%;
                object-fit: cover;
                width:100%;
                height:100%;
                position: absolute;
                top:0;
                left:0;
            }
    
        }
    
        @include el('content'){
            color:#000;
        }
    
        @include el('name'){
            font-size: 14px;
            line-height: 19px;
            font-weight: 700;
        }
    
        @include el('inner'){
            display:flex;
            align-items: center;
        }
    
        @include el('val'){
            font-size:12px;
            font-weight: 700;
            margin-right:8px;
    
            @include mod('circle'){
                background-color:#F3F3F3;
                border-radius: 50%;
                color:#000;
                width: 24px;
                height:24px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
    
        }
    
        @include el('stars'){
            position: relative;
        }
    
        @include el('info'){
            position: absolute;
            transform: translateY(100%);
            bottom: -12px;
            font-size: 16px;
            line-height: 1.2;
    
            a{
                color:#fff;
                text-decoration: underline;
                &:hover{
                    color:#ef3048;
                }
            }
    
            @include mod('gray'){
                color:#808080;
                a{
                    color:#0056FF;
    
                }
            }
    
        }
    
    }


    .rating-box-m{
        position: relative;
        z-index: 2;
        display:flex;

        .lclz{
            margin-top:3px;
        }
    
        @include el('thumb'){
            position: relative;
            margin-right:17px;
            width:72px;
            height:72px;
            flex: 0 0 72px;
            border-radius: 50%;
            overflow: hidden;
    
            img{
                border-radius: 50%;
                object-fit: cover;
                width:100%;
                height:100%;
                position: absolute;
                top:0;
                left:0;
            }
    
        }

        @include el('thumb-m'){
            position: relative;
            margin-right:17px;
            width:72px;
            height:72px;
            flex: 0 0 72px;
            border-radius: 50%;
            overflow: hidden;
    
            img{
                border-radius: 50%;
                object-fit: cover;
                width:100%;
                height:100%;
                position: absolute;
                top:0;
                left:0;
            }
    
        }
    
        @include el('content'){
            color:#000;
        }
    
        @include el('name'){
            font-size: 14px;
            line-height: 19px;
            font-weight: 700;
        }
    
        @include el('inner'){
            display:flex;
            align-items: center;
            margin-top:3px;
        }
    
        @include el('val'){
            font-size:18px;
            font-weight: 700;
            margin-right:18px;
    
            background-color:#F3F3F3;
                border-radius: 50%;
                color:#000;
                width: 43px;
                height:43px;
                display: flex;
                align-items: center;
                justify-content: center;
    
        }
    
        @include el('stars'){
            position: relative;
            margin-top:3px;
            .stars{
                img{
                    width:17px;
                    height:16px;
                }
            }
        }
    
        @include el('info'){
            font-size: 12px;
            line-height: 16px;
            a{
                color:$blue;
                text-decoration: underline;
                &:hover{
                    color:#ef3048;
                }
            }
    
    
        }
    
    }

}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {
    .rating-box{
        position: relative;
        z-index: 2;
        display:flex;
        line-height: 1;
    
        @include el('thumb'){
            position: relative;
            margin-right:17px;
            width:89px;
            height:89px;
            flex: 0 0 89px;
            border-radius: 50%;
            overflow: hidden;
            background:#fff; //do usuniecia
    
            img{
                border-radius: 50%;
                object-fit: cover;
                width:100%;
                height:100%;
                position: absolute;
                top:0;
                left:0;
            }
    
        }
    
        @include el('content'){
            color:#fff;
        }
    
        @include el('name'){
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 9px;
        }
    
        @include el('inner'){
            display:flex;
            align-items: center;
        }
    
        @include el('val'){
            font-size:40px;
            font-weight: 700;
            margin-right:18px;
    
            @include mod('circle'){
                background-color:#F3F3F3;
                border-radius: 50%;
                color:#000;
                width: 89px;
                height:89px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
    
        }
    
        @include el('stars'){
            position: relative;
        }
    
        @include el('info'){
            position: absolute;
            transform: translateY(100%);
            bottom: -12px;
            font-size: 16px;
            line-height: 1.2;
    
            a{
                color:#fff;
                text-decoration: underline;
                &:hover{
                    color:#ef3048;
                }
            }
    
            @include mod('gray'){
                color:#808080;
                a{
                    color:#0056FF;
    
                }
            }
    
        }
    
    }
}