//breakpoint 0
@include media-breakpoint-up(xs) {
    
    .skill {
        display: inline-block;
        font-size: 12px;
        color: #fff;
        background: #cccccc;
        padding: 7px 14px;
        margin: 0 7px 7px 0;
        border-radius: 15px;
        font-weight: 600;
    }
    
    .skill-list{

        h4{
            margin-bottom: 0;
        }
    
        ul{
    
            list-style: none;
            margin:0;
            margin-top:11px;
            margin-bottom: -15px;
            padding:0;
            display:flex;
            flex-wrap: wrap;
    
            li{
                border-radius: 12px;
                background-color: #CCCCCC;
                display: flex;
                justify-content: center;
                align-items: center;
                padding:5px 15px;
                color:#fff;
                font-size: 12px;
                font-weight: 600;
                margin-right:15px;
                margin-bottom: 15px;
                &:last-child{
                    margin-right:0;
                }
            }
        }
    
        @include mod('m'){
            margin-top: -6px;
        }

    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}


//lg: 992px
@include media-breakpoint-up(lg) {
    .skill-list{



        padding-top:18px;
        margin-top:25px;
        border-top:1px dashed #dbdbdb;
    
        ul{
    
            margin-top:33px;
    
            li{
                border-radius: 12px;
                background-color: #CCCCCC;
                display: flex;
                justify-content: center;
                align-items: center;
                padding:5px 15px;
                color:#fff;
                font-size: 12px;
                font-weight: 600;
                margin-right:15px;
                margin-bottom: 15px;
                &:last-child{
                    margin-right:0;
                }
            }
        }
    
    }
    
}
