//breakpoint 0
@include media-breakpoint-up(xs) {
    .stars {
        position: relative;
        min-width: 133px;
        img{
            width:13px;
            height:12px;
            margin-right:2px;
            &:last-child{
                margin-right:0;
            }
        }
        .star {
            float: left;
            margin-right: 2px;
            height: 12px;
            width: 13px;
            background: url('/assets/img/star.svg') 0 0 no-repeat;
            background-size: 100%;
        }
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {
    .stars {
        min-width: 133px;
        img{
            width:22px;
            height:21px;
            margin-right:3px;
            &:last-child{
                margin-right:0;
            }
        }
        .star {
            float: left;
            margin-right: 2px;
            height: 15px;
            width: 16px;
            background: url('/assets/img/star.svg') 0 0 no-repeat;
        }
    }
}
