//breakpoint 0
@include media-breakpoint-up(xs) {
    .switch {

        display:flex;
        align-items: center;
        margin-bottom: 12px;
        
        @include el('inner'){
            position: relative;
            display: inline-block;
            width: 44px;
            height: 22px;
            overflow: hidden;
        }
    
        @include el('input'){
            opacity: 0;
            width: 0;
            height: 0;
            outline: 0;
        }
    
        @include el('slider'){
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 30px;
            border:1px solid #DBDBDB;
            background-color: #fff;
            transition: $time;
            overflow: hidden;
    
            &:before {
                position: absolute;
                content: "";
                height: 15px;
                width: 15px;
                flex: 0 0 15px;
                top:50%;
                left:3px;
                transform: translateY(-50%);
                border-radius: 50%;
                background-color: $blue;
                transition: $time;
            }
    
        }
    
        @include el('content'){
            font-size: 14px;
            color:#9E9E9E;
            margin-left:9px;
        }
    
    }
      
    .switch__input:checked + .switch__slider:before {
        transform: translateY(-50%) translateX(21px);
    }
}

//sm
@include media-breakpoint-up(sm) {

}

//md
@include media-breakpoint-up(md) {

}

//lg
@include media-breakpoint-up(lg) {

}

//lg
@include media-breakpoint-up(lg) {
    .switch {

        margin-bottom: 0;
        
        @include el('inner'){
            width: 58px;
            height: 28px;
        }
    
        @include el('slider'){
    
            &:before {
                height: 20px;
                width: 20px;
                flex: 0 0 20px;
                top:50%;
                left:4px;
            }
    
        }
    
        @include el('content'){
            margin-left:13px;
        }
    
    }

    .switch__input:checked + .switch__slider:before {
        transform: translateY(-50%) translateX(17px);
    }

}
  