//breakpoint 0
@include media-breakpoint-up(xs) {
    .tabs {
        display: flex;
        margin-bottom: 30px;
        position: relative;
        z-index: 1;
        padding-left: 0;
        list-style: none;
        padding-left: 10px;
        padding-right: 10px;
        
        &:after {
            display: block;
            position: absolute;
            content: "";
            left: 38px;
            right: 38px;
            bottom: 0;
            height: 1px;
            background: rgba(112, 112, 112, 0.2);
            z-index: -1;
            
        }
        
        .tab {
            float: left;
            font-size: 16px;
            padding: 0 10px 10px;
            cursor: pointer;
            background: none;
            border: none;
            text-align: center;
            font-weight: 600;
            
            @include el('counter') {
                font-size: 14px;
                font-weight: 700;
                color: #707070;
                display: inline-flex;
                -ms-flex-align: center;
                align-items: center;
                -ms-flex-pack: center;
                justify-content: center;
                height: 22px;
                background-color: #F3F3F3;
                margin: 0 10px;
                padding: 0 15px;
                border-radius: 15px;
            }
            
            a {
                color: #adadad;  
            }
            
            &.active {
                border-bottom: 2px solid #0057ff;
                a {
                    color: #0057ff;
                    
                }
            }  
        }
    }
    
    
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {

}

//xl: 1200px
@include media-breakpoint-up(xl) {
    .tabs {
        .tab {
            margin: 0 28px;
            display: flex;
            
            
            
            a {
                font-size: 20px;
            }
        }
    }
}
