//breakpoint 0
@include media-breakpoint-up(xs) {
    
    .bootstrap-tagsinput {
        width: 100%;
        padding: 10px;
        
        .tag {
            display: inline-block;
            margin: 5px;
            background: #0057FF;
            padding: 8px 12px;
            border-radius: 17px;
            font-size: 14px;
            
            [data-role="remove"] {
                font-size: 20px;
            }
        }
        
        input {
            width: auto !important;
            border: none !important;
        }
    }
    
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {

}

//xl: 1200px
@include media-breakpoint-up(xl) {
    
}