//breakpoint 0
@include media-breakpoint-up(xs) {
    .testi-m{
        padding:16px 8px;
        
        @include mod('white') {
            background-color: #fff;
            box-shadow: 0 1px 5px rgba(0,0,0, .10);
            margin-bottom: 30px;
            
            .testi__inner {
                margin-top: 0;
            }
        }

        h4{
            margin-bottom: 10px;
        }
    
        @include el('inner'){
            display:flex;
        }
    
        @include el('author'){
            flex: 0 0 80px;
            width:80px;
            margin-right:20px;
        }
    
        @include el('author-img'){
            position: relative;
            height:73px;
            width:73px;
            flex: 0 0 73px;
            
            img{
                overflow: hidden;
                border-radius: 50%;
                width:73px;
                height:73px;
            }
    
            &:after{
                content:'';
                display:block;
                position: absolute;
                bottom:-7px;
                right:-7px;
                background:url('../img/quote.svg') no-repeat center center;
                width:36px;
                height:26px;
            }
    
        }
    
        @include el('author-name'){
            font-size: 14px;
            font-weight: 700;
            margin-bottom:5px;
        }
    
        @include el('rating'){
            margin-bottom: 26px;
            .stars{
                img{
                    width:21px;
                    height:21px;
                }
            }
        }
    
        @include el('date'){
            color:#707070;
            margin-bottom: 4px;
        }
    
        @include el('text'){
            margin-bottom: 0;
        }

        .readmore{
            font-size: 12px;
            i{
                font-size: 10px;
            }
        }
    
    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {
    .testi{
        padding:28px 38px 33px 46px;
        
        @include mod('white') {
            background-color: #fff;
             box-shadow: 0 1px 5px rgba(0,0,0, .10);
            
            .testi__inner {
                margin-top: 0;
            }
        }
    
        @include el('inner'){
            display:flex;
            margin-top:29px;
        }
    
        @include el('author'){
            flex: 0 0 89px;
            width:89px;
            margin-right:37px;
        }
    
        @include el('author-img'){
            position: relative;
            height:82px;
            width:82px;
            flex: 0 0 82px;
            
            img{
                overflow: hidden;
                border-radius: 50%;
                width:82px;
                height:82px;
            }
    
            &:after{
                content:'';
                display:block;
                position: absolute;
                bottom:-7px;
                right:-7px;
                background:url('../img/quote.svg') no-repeat center center;
                width:41px;
                height:30px;
            }
    
        }
    
        @include el('author-name'){
            font-size: 13px;
            font-weight: 700;
            margin-top:19px;
            text-align: center;
        }
    
        @include el('rating'){
            display:flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 26px;
        }
    
        @include el('date'){
            color:#707070;
            margin-bottom: 0;
        }
    
        @include el('text'){
            margin-bottom: 21px;
        }
    
    }
}