//breakpoint 0
@include media-breakpoint-up(xs) {
    
    .testi{
        
        @include mod('white') {
            background-color: #fff;
            
            .testi__inner {
                margin-top: 0;
            }
        }

        @include el('inner'){
            .testi__part {
                display: flex;
                justify-content: center;
                padding-top: 15px;
                
                .testi__rating {
                    display: block;
                    
                    .testi__rating-name {
                        font-size: 13px;
                        font-weight: 700;
                        margin-top: 19px;
                    }
                }
                
                .testi__date {
                    font-size: 12px;
                }
            }
            
            .testi__desc {
                padding: 12px 7px;
                box-shadow: 0 1px 5px rgba(0,0,0, .1);
                
                .testi__rating {
                    display: none;
                }
            }
        }

        @include el('author'){
            flex: 0 0 89px;
            width:89px;
            margin-right:37px;
        }

        @include el('author-img'){
            position: relative;
            height:82px;
            width:82px;

            img{
                overflow: hidden;
                border-radius: 50%;
                width:82px;
                height:82px;
            }

            &:after{
                content:'';
                display:block;
                position: absolute;
                bottom:-7px;
                right:-7px;
                background:url('../img/2/quote.svg') no-repeat center center;
                width:41px;
                height:30px;
            }

        }

        @include el('author-name'){
            display: none;
            font-size: 13px;
            font-weight: 700;
            margin-top:19px;
            text-align: center;
        }

        @include el('rating'){
            display:flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 26px;
        }

        @include el('date'){
            color:#707070;
            margin-bottom: 0;
        }

        @include el('text'){
            margin-bottom: 21px;
        }

    }
}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {
    .testi {
        padding:28px 38px 33px 46px;
        
        @include mod('white') {
            background: #fff;
            box-shadow: 0 3px 20px rgba(0, 0, 0, 0.05);
        }
        
        @include el('inner'){
            display:flex;
            margin-top:29px;

            .testi__part {
                
                .testi__author {
                    .testi__author-name {
                        display: block;
                    }
                }
                
                .testi__rating {
                    display: none;
                }
            }
            
            .testi__desc {
                padding: 0;
                box-shadow: none;
                
                .testi__rating {
                    display: flex;
                }
            }
        }    
    }
}

//xl: 1200px
@include media-breakpoint-up(xl) {
    
}
