//breakpoint 0
@include media-breakpoint-up(xs) {
    .tooltip-wrapper{
        display:none;
    }
    
    .tooltip{
    
        padding:23px;
    
        @include el('header'){
            font-size: 20px;
            font-weight: 600;
        }
    
        @include el('content'){
    
        }
    
        @include el('item'){
            
            display:flex;
            align-items: center;
            flex: 0 0 100%;
            font-size: 16px;
            line-height: 1;
            font-weight: 600;
            color:#000;
            text-decoration: none;
            margin-top:20px;
            
            @include mod('email'){
                color:$blue;
            }
    
            &:hover,
            &:focus{
                color:$red;

                .tooltip__icon{
                    color:$red
                }

            }
    
        }
    
        @include el('icon'){
            margin-right:19px;
            flex:0 0 34px;
            width:34px;
            color:#000;
            transition: color $time ease-in-out;

            .icon-phone{
                font-size: 34px;
            }

            .icon-email{
                font-size: 28px;
            }

        }
    
    }

    .tooltip2{
        
        @include el('inner'){
            position: relative;
            padding:27px 20px;
        }

        @include el('close'){

            position: absolute;
            top:7px;
            right:7px;
            width:15px;
            height:15px;
            transform: rotate(45deg);

            &:before,
            &:after{
                content:'';
                display:block;
                background-color:#000;
                position: absolute;
                top:50%;
                left:50%;
                transform: translateX(-50%) translateY(-50%);
            }

            &:before{
                width:15px;
                height:2px;
            }

            &:after{
                width:2px;
                height:15px;
            }

        }
    
        @include el('header'){
            font-size: 16px;
            font-weight: 600;
            line-height: 1;
        }

        ul{

            list-style:none;
            padding:0;
            margin:0;
            margin-top:16px;

            li{
                a{
                    font-size: 14px;
                    line-height: 30px;
                    color: #000;
                    display:flex;
                    align-items: center;
                    margin-left:2px;

                    span{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right:18px;
                        width:27px;
                        flex: 0 0 27px;
                        img{
                        
                        }
                    }
                }
            }
        }
    
    }

}

//sm: 480px
@include media-breakpoint-up(sm) {

}

//md: 768px
@include media-breakpoint-up(md) {

}

//lg: 992px
@include media-breakpoint-up(lg) {

}

//xl: 1200px
@include media-breakpoint-up(xl) {

}

//sl: 1440px
@include media-breakpoint-up(sl) {
    
}